#cgv {
width: 100%;
max-width: 1000px;
margin: 0 auto;
padding-bottom: 50px;
}

#cgv p {
font-size: 16px;
color: #191416;
}

#cgv p span.cgv--titre {
display: block;
font-family: 'Roboto-Medium';
margin: 50px 0 15px 0;
}
