<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Conditions Générales de Vente</span>
  </div>
</div>

<section id="cgv">
  <p>

    CONDITIONS DE VENTE DU Goodies Enough Store EUROPÉEN<br><br>
    DERNIÈRE RÉVISION : 3 août 2018<br><br>
    Chaque produit que vous achetez (« Marchandise ») dans la version européenne du Goodies Enough Store située à l’adresse  (le « Goodies Enough Store européen ») vous est vendu par Goodies Enough Entertainment International, division d'Activision Goodies Enough International BV, Stroombaan 16, 1181 VX Amstelveen, Pays-Bas (« Goodies Enough » ou « nous »).<br><br>
    Vous devez lire attentivement les Conditions de vente suivantes (« Conditions de vente »). En passant une commande dans ou via le Gear Store européen, vous acceptez d'être lié par ce contrat légal et vous reconnaissez que vous avez au moins 18 ans ou que vous avez la permission de vos parents ou d'un tuteur légal pour conclure ce contrat.
    
    <span class="cgv--titre">Tarification.</span>
    Les prix comprennent toute taxe sur la valeur ajoutée applicable, mais ne comprennent pas les frais d'expédition, qui seront ajoutés au prix de la Marchandise que vous achetez avant votre passage en caisse.
    
    <span class="cgv--titre">Commandes de Marchandises</span>
    En passant une commande de Marchandise auprès du Goodies Enough Store européen, vous acceptez que vous soumettez une offre juridiquement contraignante pour l'achat de la Marchandise auprès de Goodies Enough. Votre commande est acceptée et un contrat est conclu dès que Goodies Enough vous envoie un email confirmant que votre commande a été acceptée (un « Email de confirmation »).<br><br>
    Différentes méthodes de paiement, telles que les cartes de crédit ou les cartes de débit direct, peuvent vous être proposées lors d'un achat via le Goodies Enough Gear européen. Lorsque vous utilisez un fournisseur de paiement tiers, tels que PayPal, les conditions supplémentaires et les coûts du fournisseur peuvent s'appliquer. Le paiement est dû immédiatement dès que vous recevez votre Courriel de confirmation.
    
    <span class="cgv--titre">Droit de rétractation.</span>
    Si vous résidez dans l'Union Européenne, vous avez le droit de vous rétracter de ce contrat dans les 14 jours sans donner de raison. Votre droit de rétractation ne s'applique pas aux enregistrements audio-vidéo scellés ou aux logiciels scellés qui ont été descellés après la livraison. Le délai de rétractation expirera quatorze jours après la date à laquelle vous avez acquis, ou un tiers autre que le transporteur et désigné par vous a acquis, la possession physique de la Marchandise.<br><br>
    Pour exercer le droit de rétractation, vous devez nous informer (Activision Goodies Enough International BV, Stroombaan 16, 1181 VX Amstelveen, Pays-Bas) de votre décision de vous rétracter de ce contrat par une déclaration dénuée d’ambiguïté (par exemple une lettre envoyée par la poste). Vous pouvez utiliser le formulaire de rétractation disponible à l'adresse , mais ce n’est pas obligatoire. Vous pouvez également remplir électroniquement et soumettre le modèle de formulaire de rétractation ou toute autre déclaration dénuée d’ambiguïté sur notre site web . Si vous utilisez cette option, nous vous communiquerons sans délai un accusé de réception de votre rétractation sur un support durable (par exemple par courriel).<br><br>
    Pour respecter le délai de rétractation, il vous suffit d'envoyer votre communication concernant votre exercice du droit de rétractation avant l'expiration du délai de rétractation. Si vous vous rétractez de ce contrat, nous vous rembourserons tous les paiements reçus de votre part, y compris les frais de livraison (à l'exception des frais supplémentaires résultant du choix d'un type de livraison autre que le mode moins coûteux de livraison standard proposé par nous), sans retard excessif et dans tous les cas au plus tard quatorze jours à compter de la date à laquelle nous aurons été informés de votre décision de vous rétracter de ce contrat. Nous procéderons à ce remboursement en utilisant le même moyen de paiement que celui utilisé pour la transaction initiale, sauf accord exprès de votre part pour un autre moyen de paiement ; dans tous les cas, vous n'encourrez aucun frais suite à un tel remboursement. Nous pouvons différer le remboursement jusqu'à ce que nous ayons récupéré la Marchandise ou que vous ayez fourni une preuve d'expédition de la Marchandise, la date retenue étant celle du premier de ces faits. Vous renverrez sans délai la Marchandise à Blogic, De Corantijn 19, 1689 AN Zwaag, Pays-Bas et, en tout état de cause, au plus tard 14 jours après nous avoir fait part de votre décision de vous rétracter du contrat.<br><br>
    Ce délai sera respecté si vous renvoyez la Marchandise avant l’expiration du délai de 14 jours. Le coût direct du renvoi des Marchandises sera entièrement à votre charge. Votre responsabilité n'est engagée qu'à l'égard de la dépréciation de la Marchandise résultant de manipulations de celle-ci autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de la Marchandise.
    
    <span class="cgv--titre">Livraison.</span>
    Sauf accord contraire avec vous, nous visons à livrer la Marchandise en vous transférant la possession physique ou le contrôle de celle-ci sans retard injustifié, mais au plus tard 30 jours à compter de la date de réception du Courriel de confirmation. Si nous manquons à notre obligation de livrer la Marchandise au moment convenu avec vous ou dans les 30 jours suivant la réception du Courriel de confirmation, nous vous conseillons de contacter notre Service Clients pour qu'il effectue la livraison dans un délai supplémentaire adapté aux circonstances. Si nous ne livrons pas la Marchandise dans ledit délai supplémentaire, vous pourriez être en droit de mettre fin au contrat et d'obtenir un remboursement complet. Veuillez noter que vous pouvez faire usage d’autres recours prévus par votre droit national.<br><br>
    Pour les Marchandises envoyées avec la livraison suivie par un service de messagerie, nous vous demandons d'inspecter le colis reçu en présence du représentant du service de messagerie, afin d'éventuellement détecter tout dommage occasionné à la marchandise. Si vous remarquez des dommages, nous vous suggérons de refuser le colis et d'indiquer clairement les raisons de votre refus sur la preuve de livraison et de contacter immédiatement notre Service Clients pour obtenir le remboursement ou le remplacement du produit.
    
    <span class="cgv--titre">Garantie légale de conformité.</span>
    Si vous êtes résident de l'Union européenne et si la Marchandise commandée par vous ne correspond pas à la description donnée au moment de l'achat dans le Goodies Enough Store européen, ou si elle ne peut pas être utilisée à des fins normales, n'est pas de qualité normale ou ne fonctionne pas comme on pourrait raisonnablement s'y attendre, alors les règles du droit peuvent s'appliquer, car vous pouvez bénéficier d'une garantie légale de conformité en vertu de votre droit national.<br><br>
    Vous pouvez retourner une Marchandise en l'expédiant au Centre de distribution de Goodies Enough situé à l'adresse suivante : Blogic, De Corantijn 19, 1689 AN Zwaag, Pays-Bas (« Centre de distribution Goodies Enough »), avec une copie du reçu ou autre preuve d'achat, selon le cas, si la Marchandise n'est pas conforme aux présentes Conditions de vente. Le processus de retour peut être lancé en contactant le Service Clients à : .
    
    <span class="cgv--titre">Droits d'importation et douanes.</span>
    Si vous n'êtes pas résident de l'Union européenne (« résidents non-UE ») et que vous commandez des Marchandises auprès du Goodies Enough Store européen pour une livraison en dehors de l'Union européenne, vous reconnaissez et acceptez par la présente que : (i) les Marchandises sont expédiées depuis l'Union européenne ; et (ii) vous êtes seul responsable des droits et taxes d'importation qui peuvent être perçus lorsque la livraison atteint la destination spécifiée. Vous serez responsable du paiement de ces droits et taxes à l'importation au bureau des douanes local concerné. Veuillez noter que nous n'avons aucun contrôle sur ces frais et ne pouvons pas en prédire le montant. Veuillez contacter votre bureau des douanes local pour plus d'informations avant de passer votre commande.<br><br>
    Pour les résidents non-UE, vous devez vous conformer à toutes les lois et réglementations applicables du pays auquel les produits sont destinés. 
    
    <span class="cgv--titre">Limitation de responsabilité.</span>
    Goodies Enough peut uniquement être tenu responsable, conformément au droit en vigueur (a) en cas de dommages découlant d'une atteinte à la vie, à un membre ou à la santé ; (b) en cas de comportement préjudiciable intentionnel ; (c) en cas de négligence grossière ; (d) si Goodies Enough est en violation des exigences des lois  sur la responsabilité du fait des produits conformément au droit en vigueur ou (e) est en violation d'une garantie acceptée. Dans tout autre cas, Goodies Enough ne peut être jugé responsable de négligence légère que si Goodies Enough a enfreint une obligation contractuelle « importante » au titre des présentes. Sont considérées comme « importantes » les obligations nécessaires à l’exécution des présentes Conditions de vente, dont la violation compromettrait l’objet de celles-ci, et au respect desquelles vous pouvez, de manière générale, vous fier. Dans ces cas, la responsabilité de Goodies Enough sera limitée aux dommages typiques et prévisibles ; dans les autres cas, Goodies Enough ne pourra être tenu responsable de négligence légère.
    
    <span class="cgv--titre">Service Clients.</span>
    Vous trouverez les coordonnées du Service Clients à l'adresse suivante : . Pour toute demande en rapport avec votre achat de produits au Goodies Enough Store européen, veuillez contacter notre Service Clients en premier lieu.<br><br>
    Résolution alternative des litiges.<br><br>
    Si vous n'êtes pas satisfait de la résolution de votre demande par notre Service Clients et si vous résidez dans l'Union européenne, la Commission européenne propose une plateforme de résolution des litiges en ligne accessible à l'adresse . Vous pouvez, à votre discrétion, recourir à cette plate-forme comme alternative aux tribunaux généraux.
    
    <span class="cgv--titre">Droit applicable.</span>
    Les Conditions de vente seront régies et interprétées conformément au droit néerlandais, à l’exception des règles de conflit des lois et des dispositions de la Convention des Nations Unies sur les contrats de vente internationale de marchandises.  Veuillez noter que les dispositions de protection des consommateurs obligatoires dans votre pays de résidence continuent de s'appliquer.
    
    <span class="cgv--titre">Autonomie des clauses.</span>
    Si l’une quelconque des présentes Conditions de vente est jugée invalide, illégale ou inapplicable dans une mesure quelconque, cette clause, condition ou disposition sera dans cette mesure séparée des autres clauses, conditions et dispositions qui continueront d’être valides dans toute la mesure permise par la loi.
    
    <span class="cgv--titre">Renonciation.</span>
    Si Goodies Enough omet d'insister ou choisit de ne pas insister sur l'exécution stricte de l'une quelconque de vos obligations en vertu des présentes Conditions de vente, ou si nous n'exerçons aucun des droits ou recours auxquels nous avons droit, une telle omission ou un tel choix ne constituera pas une renonciation à ces droits ou recours et ne vous dispensera pas du respect de ces obligations.  Une renonciation de notre part en cas de défaut d’exécution ne constituera en aucun cas une renonciation à une quelconque obligation ultérieure d’exécution.

  </p>
</section>