<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Votre compte</span>
  </div>
</div>

<section id="account">
  <div class="wrapper">

    <div class="account--header">
      <ul>
        <li>
          <figure><img src="/assets/img/avatars/avatar-01.svg" alt="{{user.prenom}}  {{user.nom}}" title="{{user.prenom}}  {{user.nom}}"></figure>
        </li>
        <li>
          <div class="account--header--username">
            <h1> {{user.prenom}}  {{user.nom}}</h1>
            <span class="account--header--note">{{user.email}}</span>
          </div>
        </li>
        <li>

          <a routerLink="/mon-compte/modifier" class="account--header--button">Modifier mon compte</a>
          <br/>
          <div class="Boutton-Deco">
            <a href="/" (click)="onClick($event)" class="account--header--button">Deconnexion</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="account--address">
      <h2>Mon adresse de facturation</h2>
      <p>
        {{user.utilisateurAdresse.numRue}} {{user.utilisateurAdresse.rue}}<br>
        {{user.utilisateurAdresse.codePostal}}, {{user.utilisateurAdresse.ville}}<br>
        {{user.utilisateurAdresse.pays}}
      </p>
    </div>

    <user-list-orders></user-list-orders>

  </div>
</section>
