#account {
width: 100%;
max-width: 1000px;
margin: 0 auto;
}

#account .wrapper {
padding: 50px 0;
}

/*
#account .wrapper .account--header {

}
*/
.Boutton-Deco {
  margin-top: 50px;
}

.Boutton-Deco a{
  background-color: red!important;
}

#account .wrapper .account--header ul {
font-size: 0;
}

#account .wrapper .account--header ul li {
position: relative;
display: inline-block;
vertical-align: top;
width: 42.5%;
height: 160px;
}

#account .wrapper .account--header ul li:first-child {
width: 15%;
}

#account .wrapper .account--header ul li:last-child {
text-align: right;
}

#account .wrapper .account--header ul li figure {
width: 100%;
}

#account .wrapper .account--header ul li figure img {
width: 100%;
height: auto;
display: block;
}

#account .wrapper .account--header ul li .account--header--username {
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%)
}

#account .wrapper .account--header ul li .account--header--username h1 {
margin: 0;
font-size: 36px;
text-transform: uppercase;
color: #191416;
font-weight: normal;
font-family: 'Roboto-Black';
}

#account .wrapper .account--header ul li .account--header--username span.account--header--note {
color: #999999;
font-size: 16px;
display: block;
font-family: 'Roboto-Light';
}

#account .wrapper .account--header ul li .account--header--button {
text-decoration: none;
text-transform: uppercase;
color: #FFFFFF;
background: #007BBF;
font-family: 'Roboto-Medium';
font-size: 16px;
padding: 8px 25px;
}

#account .wrapper .account--address {
padding: 30px 15%;
}

#account .wrapper .account--address h2 {
margin: 0;
font-weight: normal;
font-size: 24px;
padding-left: 15px;
}

#account .wrapper .account--address p {
padding: 0 0 0 65px;
font-size: 16px;
line-height: 24px;
color: #191416;
font-family: 'Roboto-Medium';
}
