/* Mobile First! */
header { width: 100%; text-align: center; }

header nav { position: fixed; top: 40px; left: 50%; width: 100%; max-width: 800px; height: 60px; background: #FFF; border-radius: 8px; transform: translateX(-50%); box-shadow: 0 0 25px 10px rgba(0,0,0,.1); z-index: 1000; } 
header nav ul { font-size: 0; } 
header nav ul li { display: inline-block; font-size: 16px; vertical-align: top; }

header nav ul li.header--links {
position: relative;
width: 40%;
height: 60px;
}

header nav ul li.header--links .wrapper {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%)
}

header nav ul li.header--links .wrapper a {
font-weight: bold;
text-decoration: none;
letter-spacing: 1px;
font-family: 'Roboto-Thin';
font-size: 14px;
text-transform: uppercase;
color: #999999;
padding: 0 15px;
transition: all 400ms ease-in-out;
}

header nav ul li.header--links .wrapper a:hover {
color: #191416;
}

header nav ul li.header--logo {
position: relative;
width: 20%;
padding: 5px 0;
}

header nav ul li.header--logo figure {
position: absolute;
top: 50%;
left: 50%;
width: 150%;
max-width: 300px;
transform: translateX(-50%) translateY(-50%);
border-radius: .5rem;
background: #FFFFFF;
padding: 15px 25px;
box-shadow: 0 0 25px 10px rgba(0,0,0,.25);
}

header nav ul li.header--logo figure img.header--logo--svg {
display: block;
width: 100%;
height: auto;
}

header nav ul li.header--buttons {
width: 40%;
}

/*
header nav ul li a {

}

header nav ul li.header--logo a img {

}

header nav ul li.header--buttons {

}
*/

header nav ul li.header--buttons {
font-size: 0;
text-align: right;
}

header nav ul li.header--buttons div {
display: inline-block;
width: 60px;
height: 60px;
vertical-align: top;
}

header nav ul li.header--buttons div a {
position: relative;
display: block;
width: 100%;
height: 100%;
padding: 20px;
transition: all 400ms ease-in-out;
}

/*
header nav ul li.header--buttons div a:hover {

}
*/

header nav ul li.header--buttons div a img {
display: block;
width: 100%;
height: auto;
opacity: 0.6;
}

header nav ul li.header--buttons div a span {
position: absolute;
top: 8px;
right: 8px;
display: inline-block;
font-size: 10px;
line-height: 10px;
color: #FFFFFF;
padding: 5px 7px;
border-radius: 2rem;
background: #007BBF;
}




header nav .form--recherche {
position: absolute;
top: 55px;
left: 0;
right: 0;
display: none;
height: 30px;
transition: all 400ms ease-in-out;
}

header nav .form--recherche.form--deployed {
display: block;
}

header nav .form--recherche form fieldset {
position: relative;
}

header nav .form--recherche form fieldset input {
position: absolute;
top: 0;
left: 0;
display: inline-block;
width: 100%;
height: 30px;
margin: 0;
font-family: 'Roboto-Medium';
font-size: 16px;
font-weight: bold;
color: #FFFFFF;
padding: 5px 60px 5px 5px;
border: none;
background: #007BBF;
}

header nav .form--recherche form fieldset button {
position: absolute;
top: 0;
right: 30px;
display: inline-block;
width: 30px;
height: 30px;
background: #FFFFFF;
border: none;
}

header nav .form--recherche a.close--recherche {
position: absolute;
top: 0;
right: 0;
display: inline-block;
width: 30px;
height: 30px;
padding: 8px;
background: #FFFFFF;
}

header nav .form--recherche a.close--recherche img {
display: block;
width: 100%;
height: auto;
}

































/* Mobile format paysage */
@media (min-width: 568px) {



}


/* Tablette format portrait */
@media (min-width: 768px) {



}


/* Écran desktop */
@media (min-width: 990px) {



}

/* Écrans de riches ! */
@media (min-width: 1200px) {



}