<header>

  <nav>

    <ul>
      <li class="header--links">
        <div class="wrapper">
          <a routerLink="/catalogue">Catalogue</a>
          <a routerLink="/contact">Contacts</a>
        </div>
      </li>
      <li class="header--logo">
        <figure>
            <a routerLink="/"><img src="/assets/img/template/logo-goodies.svg" alt="Goodies Enough" title="Goodies Enough" class="header--logo--svg"></a>
        </figure>
        <img src="https://via.placeholder.com/150x50" alt="Goodies Enough" title="Goodies Enough">
      </li>
      <li class="header--buttons">
        <div>&nbsp;<!--<a href="#"><img src="assets/img/template/search.svg" alt="Recherche" title="Recherche"></a>--></div>
        <div><a routerLink="/panier"><img src="assets/img/template/cart.svg" alt="Panier" title="Panier"><!--<span>0</span>--></a></div>
        <div *ngIf="userAuth(); else elseBlock">
					<div>
						<a routerLink="/mon-compte"><img src="assets/img/template/user.svg" alt="Connexion" title="Connexion"></a>
					</div>
				</div>
				<ng-template #elseBlock><div><a routerLink="/login"><img src="assets/img/template/user.svg" alt="Connexion" title="Connexion"></a></div></ng-template>
      </li>
    </ul>
    <div class="form--recherche">
      <form action="" method="">
        <fieldset>
          <input type="text" name="query" id="query">
          <button type="submit"><img src="assets/img/template/search.svg" alt="Recherche" title="Recherche"></button>
        </fieldset>
      </form>
      <a href="#" class="close--recherche"><img src="assets/img/template/close.svg" alt="Fermer" title="Fermer"></a>
    </div>

  </nav>

</header>
