.listeAffichage{
  width: 100%;
}

table {
  width: 100%;
}

.mat-button {
  background-color: #007BBF;
  color: #FFFFFF;
}

button.mat-button {
  margin-right: 5px;
}

tr.mat-header-row, tr.mat-row:nth-child(even) td {
  background: #F5F5F5;

}



.admin--main--actions {
  text-align: center;
}

.admin--main--actions ul {
  font-size: 0;
}

.admin--main--actions ul li {
  padding: 20px;
  vertical-align: top;
  display: inline-block;
}

.admin--main--actions ul li a {
  display: block;
  background: rgba(0,0,0,.1);
  border-radius: 4rem;
  padding: 30px;
  border: 1px solid rgba(0,0,0,.15);
}

.admin--main--actions ul li a img {
  display: block;
  width: 36px;
  height: auto;
}

.admin--main--form {
  width: 100%;
  padding: 15px;
  max-width: 800px;
  margin: 50px auto;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,.5);
}

/*
.admin--main--form form {

}

.admin--main--form form fieldset {

}
*/

.admin--main--form form fieldset ul {
  font-size: 0;
}

.admin--main--form form fieldset ul li {
  padding: 15px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.admin--main--form form fieldset ul li:first-child,
.admin--main--form form fieldset ul li:last-child {
  width: 100%;
}

/*
.admin--main--form form fieldset ul li.admin--form--row {

}
*/

.admin--main--form form fieldset ul li.admin--form--row input[type="text"],
.admin--main--form form fieldset ul li.admin--form--row input[type="number"],
.admin--main--form form fieldset ul li.admin--form--row select {
  padding: 10px;
  width: 100%;
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #191416;
  border: 1px solid rgba(0,0,0,.5);
}

.admin--main--form form fieldset ul li.admin--form--row label {
  display: block;
  font-size: 16px;
  color: #191416;
  font-family: 'Roboto-Medium';
  padding-top: 15px;
}

.admin--main--form form fieldset ul li.admin--form--row textarea {
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #191416;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.5);
  width: 100%;
  height: 75px;
}


.admin--main--form form fieldset ul li.admin--form--snd {
  text-align: right;
}

.admin--main--form form fieldset ul li.admin--form--snd button {
  background: #007BBF;
  font-family: 'Roboto-Medium';
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 25px;
  border: none;
}

#orders {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

/*
#orders .wrapper {

}
*/

#orders .wrapper table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

/*
#orders .wrapper table thead {

}

#orders .wrapper table thead tr {

}
*/

#orders .wrapper table thead tr th {
  text-align: center;
  padding: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #191416;
  font-family: 'Roboto-Light';
  border-bottom: 1px solid #007BBF;
  white-space: nowrap;
}

#orders .wrapper table thead tr th:first-child {
  width: 70%;
  text-align: left;
}

/*
#orders .wrapper table tbody {

}
*/

#orders .wrapper table tbody tr td {
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: center;
  white-space: nowrap;
}

#orders .wrapper table tbody tr td:first-child {
  text-align: left;
}

#orders .wrapper table tbody tr:nth-child(odd) td {
  background: #FFFFFF;
}

#orders .wrapper table tbody tr td a {
  text-decoration: none;
  color: #007BBF;
}

#orders .wrapper table tbody tr td a + span {
  display: block;
  font-size: 12px;
  font-family: 'Roboto-LightItalic';
  color: #999999;
  padding-top: 5px;
}

#orders .wrapper table tbody tr td span.recette {
  font-family: 'Roboto-Bold';
  color: #00CC00;
}

#orders .wrapper table tbody tr td ul {
  font-size: 0;
}

#orders .wrapper table tbody tr td ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

#orders .wrapper table tbody tr td ul li a {
  display: block;
}

#orders .wrapper table tbody tr td ul li a img {
  display: block;
  width: 24px;
  height: auto;
}

#orders .order--details {
  font-size: 0;
}

#orders .order--details .order--details--user {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 25px;
}

#orders .order--details .order--details--user p {
  font-size: 16px;
  font-family: 'Roboto-Medium';
}

#orders .order--details .order--details--user p span.recette {
  color: #00CC00;
  font-family: 'Roboto-Black';
}

#orders .order--details .order--details--addy {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 25px;
}

#orders .order--details .order--details--addy p {
  font-size: 16px;
  font-family: 'Roboto-Medium';
}

#orders .order--details .order--details--list {
  width: 100%;
  padding-bottom: 50px;
}

#orders .order--details .order--details--actions {
  padding: 25px;
  text-align: center;
}

#orders .order--details .order--details--actions ul {
  font-size: 0;
}

#orders .order--details .order--details--actions ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
}

#orders .order--details .order--details--actions ul li a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 25px;
  color: #FFFFFF;
  font-family: 'Roboto-Bold';
}

#orders .order--details .order--details--actions ul li a.cancel--order {
  background: #ff0c38;
}

#orders .order--details .order--details--actions ul li a.valid--order {
  background: #9cdd05;
}


td.mat-cell ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

td.mat-cell ul li a {
  display: block;
}

td.mat-cell ul li a img {
  display: block;
  width: 24px;
  height: auto;
}
