<app-header></app-header>

<section id="orders">
  <div class="wrapper">

    <div class="listeAffichage">
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="dateCommande">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let commande"> {{commande.dateCommande}} </td>
        </ng-container>

        <ng-container matColumnDef="Client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
          <td mat-cell *matCellDef="let commande"> {{commande.utilisateurCommande.nom}} {{commande.utilisateurCommande.prenom}} </td>
        </ng-container>

        <ng-container matColumnDef="montantTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
          <td mat-cell *matCellDef="let commande"> 70 </td>
        </ng-container>

        <ng-container matColumnDef="nb_produits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de produits </th>
          <td mat-cell *matCellDef="let commande"> {{commande.nbProduit}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let row" >
            <ul>

              <li *ngIf="row.statutCommande && row.dateValide !== null"><a><img src="/assets/img/admin/icons/order-valid.svg" alt="{{objet}} validée" title="{{objet}} validée"></a></li>
              <li *ngIf="row.statutCommande && row.dateRefus !== null"><a><img src="/assets/img/admin/icons/order-cancel.svg" alt="{{objet}} refusée" title="{{objet}} refusée"></a></li>
              <li *ngIf="!row.statutCommande && row.dateValide == null && row.dateRefus == null"><a><img src="/assets/img/admin/icons/order-await.svg" alt="{{objet}} en cours" title="{{objet}} en cours"></a></li>

              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</section>

<popin-delete></popin-delete>
