<div id="popinDelete">
  <div class="popin--delete--overlay"></div>
  <div class="wrapper">
    <div class="popin--delete--content">

      <div class="popin--delete--element">
        <div class="question">
          Êtes-vous certain·e de vouloir supprimer cet enregistrement ?
        </div>
      </div>

      <ul class="popin--delete--actions">
        <li><a href="" class="cancel">NON</a></li>
        <li><a href="" class="confirm">OUI</a></li>
      </ul>
    </div>
    <a href="#" class="popin--close"><img src="/assets/img/template/close.svg" alt="Fermer" title="Fermer"></a>
  </div>
</div>