<app-header></app-header>

<section id="users">
  <div class="wrapper">

    <div class="listeAffichage">
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- nom Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let utilisateur"> <a routerLink="" title="Modifier {{ceCette}} {{objet}}">{{utilisateur.nom}} {{utilisateur.prenom}}<br></a> <span>{{utilisateur.email}}</span> </td>
        </ng-container>

        <!-- prix Column -->
        <ng-container matColumnDef="nb_commande">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nb Commande </th>
          <td mat-cell *matCellDef="let utilisateur">  </td>
        </ng-container>

        <!-- nb_vente Column -->ng
        <ng-container matColumnDef="recette">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Recette </th>
          <td mat-cell *matCellDef="let utilisateur"> € </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let row" >
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>

    </div>

  </div>
</section>

<popin-delete></popin-delete>
