#users {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

/*
#users .wrapper {

}
*/

#users .wrapper table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

/*
#users .wrapper table thead {

}

#users .wrapper table thead tr {

}
*/

#users .wrapper table thead tr th {
  text-align: center;
  padding: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #191416;
  font-family: 'Roboto-Light';
  border-bottom: 1px solid #007BBF;
  white-space: nowrap;
}

#users .wrapper table thead tr th:first-child {
  width: 70%;
  text-align: left;
}

/*
#users .wrapper table tbody {

}
*/

#users .wrapper table tbody tr td {
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: center;
}

#users .wrapper table tbody tr td:first-child {
  text-align: left;
}

#users .wrapper table tbody tr:nth-child(odd) td {
  background: #FFFFFF;
}

#users .wrapper table tbody tr td a {
  text-decoration: none;
  color: #007BBF;
}

td.mat-cell ul li a + span {
  display: block;
  font-size: 12px;
  font-family: 'Roboto-LightItalic';
  color: #999999;
  padding-top: 5px;
}

#users .wrapper table tbody tr td span.recette {
  font-family: 'Roboto-Bold';
  color: #00CC00;
}

#users .wrapper table tbody tr td ul {
  font-size: 0;
}

#td.mat-cell ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

td.mat-cell ul li a {
  display: block;
}

td.mat-cell ul li a img {
  display: block;
  width: 24px;
  height: auto;
}
