<table>
  <thead>
    <tr>
      <th colspan="2">Mes commandes passées sur Goodies Enough : </th>
      <th>Statut</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Commande du 25/02/2019 à 15 h 55</td>
      <td>€ 120,00</td>
      <td><img src="/assets/img/template/order-valid.svg" alt="Commande validée" title="Commande validée"></td>
    </tr>
    <tr>
      <td>Commande du 02/03/2019 à 01 h 32</td>
      <td>€ 20,00</td>
      <td><img src="/assets/img/template/order-await.svg" alt="Commande en attente" title="Commande en attente"></td>
    </tr>
  </tbody>

</table>

<div class="wrapper--button">
  <a routerLink="/catalogue">Passer une nouvelle commande</a>
</div>