table {
width: 100%;
margin: 50px 0;
border-spacing: 0px;
border-collapse: separate;
}

/*
table thead {

}

table thead tr {

}
*/

table thead tr th {
width: 5%;
font-family: 'Roboto-Light';
font-weight: normal;
font-size: 16px;
padding: 10px 0;
text-align: center;
border-bottom: 1px solid rgba(0,0,0,.25);
}

table thead tr th:first-child {
width: 95%;
text-align: left;
padding: 10px 15px;
}

/*
table tbody {

}

table tbody tr {

}
*/

table tbody tr:nth-child(odd) td {
background: #FFFFFF;
}

table tbody tr td {
padding: 15px 30px 15px 0;
text-align: right;
font-family: 'Roboto-Medium';
font-size: 16px;
color: #191416;
}

table tbody tr td:first-child {
text-align: left;
padding: 15px;
}

table tbody tr td:last-child {
text-align: center;
padding: 15px;
}

table tbody tr td img {
display: block;
width: 24px;
height: auto;
}

.wrapper--button {
width: 100%;
text-align: center;
}

.wrapper--button a {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
padding: 8px 25px;
color: #FFFFFF;
font-family: 'Roboto-Medium';
background: #007BBF;
}
