<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Mot de passe oublié</span>
  </div>
</div>

<section id="forgotten">

  <div class="wrapper">
    <div class="forgotten--content">
      <form action="">
        <fieldset>
          <ul>
            <li class="forgotten--titre"><span>Mot de passe oublié ?</span></li>
            <li>
              <input type="email" name="email" id="email" required="required" placeholder="Votre adresse email*">
              <span class="forgotten--error">Email inexistant.</span>
            </li>
            <li class="forgotten--button"><button type="submit">Récupérer mon mot de passe</button></li>
          </ul>
        </fieldset>
      </form>
    </div>
  </div>

</section>