<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Ré-initialisation du mot de passe</span>
  </div>
</div>

<section id="reset">

  <div class="wrapper">
    <div class="reset--content">
      <form action="">
        <fieldset>
          <ul>
            <li class="reset--titre"><span>Changement de votre mot de passe</span></li>
            <li>
              <input type="password" name="motDePasse" id="motDePasse" required="required" placeholder="Votre nouveau mot de passe*">
              <span class="reset--note">8 caractères minimum, un chiffre, une minuscule, une Majuscune, pas de caractères de ponctuation</span>
              <span class="reset--error">La sécurité de votre mot de passe n'est pas assez satisfaisante.</span>
            </li>
            <li>
              <input type="password" name="confirmMotDePasse" id="confirmMotDePasse" required="required" placeholder="Confirmation du mot de passe*">
              <span class="reset--error">Les mots de passe ne correspondent pas.</span>
            </li>
            <li class="reset--button"><button type="submit">Changer mon mot de passe</button></li>
          </ul>
        </fieldset>
      </form>
    </div>
  </div>

</section>