#reset {
width: 100%;
max-width: 800px;
margin: 75px auto;
box-shadow: 0 0 25px 10px rgba(0,0,0,.1);
background: #FFFFFF;
}

#reset .wrapper {
padding: 25px;
}

#reset .wrapper form {

}

#reset .wrapper form fieldset {

}

#reset .wrapper form fieldset ul {

}

#reset .wrapper form fieldset ul li {
padding: 15px 0;
}

#reset .wrapper form fieldset ul li.reset--titre {
text-align: center;
font-size: 36px;
font-weight: normal;
font-family: 'Roboto-Thin';
margin-top: 0;
}

#reset .wrapper form fieldset ul li input {
width: 100%;
height: 32px;
padding: 5px;
font-family: 'Roboto-Medium';
font-size: 18px;
text-align: left;
border: none;
border-bottom: 2px solid #CCCCCC;
}

#reset .wrapper form fieldset ul li .reset--note {
display: block;
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #999999;
padding: 5px 0 0 0;
}

#reset .wrapper form fieldset ul li .reset--error {
display: block;
/** DEV **/display: none;
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #CC0000;
padding: 5px 0 0 0;
}

#reset .wrapper form fieldset ul li.reset--button {
text-align: right;
}

#reset .wrapper form fieldset ul li.reset--button button {
display: inline-block;
font-family: 'Roboto-Medium';
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
padding: 8px 15px;
white-space: nowrap;
background: #007BBF;
border: none;
margin: 0 auto;
}