<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Votre panier</span>
  </div>
</div>

<section id="fullcart">
  <div class="wrapper">

    <div class="fullcart--topactions"><a href="">Vider le panier</a></div>

    <table class="fullcart--listing">
      <thead>
        <tr>
          <th class="fullcart--listing--nomproduit">Produit</th>
          <th class="fullcart--listing--prixproduit">Prix Unit.</th>
          <th class="fullcart--listing--quantite">Quantité</th>
          <th class="fullcart--listing--prixquantite">Prix total</th>
          <th class="fullcart--listing--actions">&nbsp;</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td class="fullcart--listing--totaltext" colspan="3">Montant total : </td>
          <td class="fullcart--listing--totalprix">€ {{(panier.totalPanier /100).toFixed(2).replace('.', ',')}}</td>
          <td class="fullcart--listing--actions">&nbsp;</td>
        </tr>
      </tfoot>

      <tbody>
        <tr *ngFor="let product of panier">
          <td class="fullcart--listing--nomproduit">
            <div class="fullcart--produit">
              <div class="fullcart--produit--visuel"><img src="/assets/img/products/{{product.produitPanier.image}}" alt="{{product.produitPanier.nom}}" title="{{product.produitPanier.nom}}"></div>
              <div class="fullcart--produit--nom">{{product.produitPanier.nom}}</div>
            </div>
          </td>
          <td class="fullcart--listing--prixproduit">€ {{(product.produitPanier.prix / 100).toFixed(2).replace('.', ',')}}</td>
          <td class="fullcart--listing--quantite"><input type="number" value="{{product.quantite}}" name="quantite[{{product.produitPanier.id}}]" id="quantite_{{product.produitPanier.id}}" min="1"></td>
          <td class="fullcart--listing--prixquantite">€ {{((product.produitPanier.prix * product.quantite) / 100).toFixed(2).replace('.', ',')}}</td>
          <td class="fullcart--listing--actions"><a href=""><img src="/assets/img/template/delete.svg" alt="Supprimer du panier" title="Supprimer du panier"></a></td>
        </tr>
      </tbody>

    </table>

    <div class="fullcart--botactions">
      <ul>
        <li><a routerLink="/panier">Continuer mes achats</a></li>
        <li><a routerLink="/merci">Finaliser ma commande</a></li>
      </ul>
    </div>


  </div>
</section>