#fullcart {
width: 100%;
max-width: 1000px;
margin: 50px auto;
}

/*
#fullcart .wrapper {

}
*/

#fullcart .wrapper .fullcart--topactions {
width: 100%;
text-align: right;
}

#fullcart .wrapper .fullcart--topactions a {
text-transform: uppercase;
background: #CC0000;
color: #FFFFFF;
font-size: 16px;
padding: 8px 15px;
text-decoration: none;
font-family: 'Roboto-Bold';
}


#fullcart .wrapper .fullcart--listing {
width: 100%;
background: #FFFFFF;
box-shadow: 0 0 25px 10px rgba(0,0,0,.15);
margin: 30px 0 50px 0;
border-spacing: 0;
border-collapse: separate;
}

/*
#fullcart .wrapper .fullcart--listing thead {

}

#fullcart .wrapper .fullcart--listing thead tr {

}
*/

#fullcart .wrapper .fullcart--listing thead tr th {
padding: 10px 15px;
border-bottom: 1px solid #007BBF;
font-weight: normal;
font-family: 'Roboto-Medium';
font-size: 18px;
color: #191416;
}

#fullcart .wrapper .fullcart--listing thead tr th.fullcart--listing--nomproduit {
text-align: left;
}

#fullcart .wrapper .fullcart--listing thead tr th.fullcart--listing--prixproduit {
width: 150px;
text-align: right;
}

#fullcart .wrapper .fullcart--listing thead tr th.fullcart--listing--quantite {
width: 150px;
}

#fullcart .wrapper .fullcart--listing thead tr th.fullcart--listing--prixquantite {
width: 150px;
text-align: right;
}

#fullcart .wrapper .fullcart--listing thead tr th.fullcart--listing--actions {
width: 50px;
}

#fullcart .wrapper .fullcart--listing tfoot tr td {
border-top: 1px solid rgba(0,0,0,.25);
padding: 10px 15px;
color: #191416;
}

#fullcart .wrapper .fullcart--listing tfoot tr td.fullcart--listing--totaltext {
text-align: right;
text-transform: uppercase;
font-family: 'Roboto-Black';
font-size: 24px;
}

#fullcart .wrapper .fullcart--listing tfoot tr td.fullcart--listing--totalprix {
width: 150px;
font-family: 'Roboto-Black';
font-size: 24px;
text-align: right;
}

#fullcart .wrapper .fullcart--listing tfoot tr td.fullcart--listing--actions {
width: 50px;
}

/*
#fullcart .wrapper .fullcart--listing tbody {

}

#fullcart .wrapper .fullcart--listing tbody tr {

}
*/

#fullcart .wrapper .fullcart--listing tbody tr td {
border-top: 1px solid rgba(0,0,0,.25);
padding: 15px;
}

#fullcart .wrapper .fullcart--listing tbody tr:first-child td {
border: none;
color: #191416;
}

#fullcart .wrapper .fullcart--listing tbody tr:nth-child(odd) td {
background: #FCFCFC;
}

/*
#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--nomproduit {

}
*/

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--nomproduit .fullcart--produit {
font-size: 0;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--nomproduit .fullcart--produit--visuel {
display: inline-block;
width: 20%;
vertical-align: top;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--nomproduit .fullcart--produit--visuel img {
display: block;
width: 100%;
height: auto;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--nomproduit .fullcart--produit--nom {
display: inline-block;
width: 80%;
vertical-align: top;
font-size: 16px;
font-family: 'Roboto-BlackItalic';
padding: 25px;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--prixproduit {
text-align: right;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--quantite {
text-align: center;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--quantite input {
width: 100px;
padding: 8px 5px;
border: 1px solid rgba(0,0,0,.25);
font-family: 'Roboto-Bold';
font-size: 16px;
color: #191416;
text-align: center;
}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--prixquantite {
text-align: right;
}

/*
#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--actions {

}

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--actions a {

}
*/

#fullcart .wrapper .fullcart--listing tbody tr td.fullcart--listing--actions a img {
display: block;
width: 100%;
height: auto;
max-width: 24px;
}


#fullcart .wrapper .fullcart--botactions {
width: 100%;
text-align: right;
}

#fullcart .wrapper .fullcart--botactions ul {
font-size: 0;
}

#fullcart .wrapper .fullcart--botactions ul li {
display: inline-block;
vertical-align: top;
}

#fullcart .wrapper .fullcart--botactions ul li a {
color: #FFFFFF;
text-transform: uppercase;
padding: 8px 25px;
font-size: 18px;
text-decoration: none;
font-family: 'Roboto-Bold';
background: #007BBF;
}

#fullcart .wrapper .fullcart--botactions ul li:first-child a {
background: #4DB4D7;
}