<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Catalogue</span>
  </div>
</div>

<section id="catalog">
  <div class="wrapper">

    <div class="catalog--leftside">
      
      <div class="catalog--listcats">
        <span class="catalog--listcats--titre">Trie par catégories</span>
        <ul>
          <li *ngFor="let category of categories" [ngClass]="(category.id == this.idCategorie) ? 'catalog--listcats--current' : ''"><a routerLink="/catalogue/{{category.slug}}/{{category.id}}">{{category.nom}} <!--<span>(15)</span>--></a></li>
        </ul>
      </div>

    </div>

    <div class="catalog--rghtside">

      <div class="catalog--sortpages">
        <ul>
          <li>
            <!--
            <form action="">
              <fieldset>
                <select name="sortBy" id="sortBy">
                  <option value="prix|Asc">Prix croissant</option>
                  <option value="prix|Desc">Prix décroissant</option>
                  <option value="nom|Asc">Nom croissant</option>
                  <option value="nom|Desc">Nom décroissant</option>
                  <option value="categorie|Asc">Catégorie croissante</option>
                  <option value="categorie|Desc">Catégorie décroissante</option>
                  <option value="note|Asc">Note croissante</option>
                  <option value="note|Desc">Note décroissante</option>
                  <option value="nb_vente|Asc">Popularité croissante</option>
                  <option value="nb_vente|Desc">Popularité décroissante</option>
                </select>
              </fieldset>
            </form>
            -->
            &nbsp;
          </li>
          <li>
            <!--
            <form action="">
              <fieldset>
                Check this for onchange: https://stackoverflow.com/questions/35055088/get-current-value-when-change-select-option-angular2/44237376
                <select name="showItems" id="showItems">
                  <option value="12">Afficher 12</option>
                  <option value="18">Afficher 18</option>
                  <option value="24">Afficher 24</option>
                  <option value="00">Tous</option>
                </select>
              </fieldset>
            </form>
            -->
            &nbsp;
          </li>
          <li>
            &nbsp;
          </li>
        </ul>
      </div>

      <div *ngIf="this.idCategorie != null" class="catalog--topvente">
        
        <h2>Top 10 des ventes dans cette catégorie : </h2>
        
        <ul>
          <li *ngFor="let bestsal of bestsale">
            <article>
              <figure>
                <img src="/assets/img/products/{{bestsal.image}}" alt="{{bestsal.nom}}" title="{{bestsal.nom}}">
                <figcaption>
                  <span class="catalog--topvente--produit">{{bestsal.nom}}</span>
                  <span class="catalog--topvente--prix">€ {{(bestsal.prix / 100).toFixed(2).replace('.', ',')}}</span>
                </figcaption>
                <a routerLink="/catalogue/produit/{{bestsal.slug}}/{{bestsal.id}}"></a>
              </figure>
            </article>
          </li>
        </ul>
      </div>

      <div class="catalog-listitem">

        <article *ngFor="let product of products">
          <figure>
            <img src="/assets/img/products/{{product.image}}" alt="{{product.nom}}" title="{{product.nom}}">
            <a routerLink="/catalogue/produit/{{product.slug}}/{{product.id}}" class="catalog--getitem"><img src="/assets/img/template/blank.png" alt="{{product.nom}}" title="{{product.nom}}"></a>
            <figcaption>
              <span class="catalog--item--titre">{{product.nom}}</span>
              <span class="catalog--item--prix">€ {{(product.prix / 100).toFixed(2).replace('.', ',')}}</span>
              <div class="catalog--item--actions">
                <ul>
                  <!--<li><a href="#"><img src="/assets/img/template/addcart.svg" alt="Ajouter au panier" title="Ajouter au panier"></a></li>-->
                  <li><a routerLink="/catalogue/produit/{{product.slug}}/{{product.id}}"><img src="/assets/img/template/seeitem.svg" alt="Voir la fiche produit" title="Voir la fiche produit"></a></li>
                </ul>
              </div>
            </figcaption>
          </figure>
        </article>

      </div>

      <!--
      <div class="catalog--sortpages">
        <ul>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>
            Ici la pagination
          </li>
        </ul>
      </div>
      -->

    </div>
    
  </div>
</section>

<popin-added></popin-added>