#catalog {
width: 100%;
max-width: 1000px;
margin: 50px auto;
}

#catalog .wrapper {
font-size: 0;
}

#catalog .wrapper .catalog--leftside {
display: inline-block;
width: 25%;
vertical-align: top;
font-size: 16px;
padding-right: 15px;
}

#catalog .wrapper .catalog--leftside .catalog--listcats .catalog--listcats--current {
border-left: 5px solid #4db4d7;
background: #007BBF;
}

#catalog .wrapper .catalog--leftside .catalog--listcats span.catalog--listcats--titre {
display: block;
padding: 16px;
font-family: 'Roboto-Light';
color: #FFFFFF;
font-size: 16px;
background: #007BBF;
}

#catalog .wrapper .catalog--leftside .catalog--listcats ul {
box-shadow: 0 5px 25px 10px rgba(0,0,0,.15);
}

#catalog .wrapper .catalog--leftside .catalog--listcats ul li {
padding: 0 20px;
}

#catalog .wrapper .catalog--leftside .catalog--listcats ul li a {
display: block;
text-decoration: none;
color: #191416;
transition: all 400ms ease-in-out;
padding: 15px 0;
border-bottom: 1px solid rgba(0,0,0,.15);
font-size: 14px;
font-family: 'Roboto-Light';
}

#catalog .wrapper .catalog--leftside .catalog--listcats ul li a:hover {
color: #007BBF;
}

#catalog .wrapper .catalog--leftside .catalog--listcats ul li a span {
font-family: 'Roboto-Thin';
font-size: 14px;
color: #999999;
}

#catalog .wrapper .catalog--leftside .catalog--listcats ul li.catalog--listcats--current a, #catalog .wrapper .catalog--leftside .catalog--listcats ul li.catalog--listcats--current a:hover, #catalog .wrapper .catalog--leftside .catalog--listcats ul li.catalog--listcats--current a span {
color: #FFFFFF;
}




#catalog .wrapper .catalog--rghtside {
display: inline-block;
width: 75%;
vertical-align: top;
font-size: 16px;
}

#catalog .wrapper .catalog--rghtside .catalog--sortpages {
display: block;
padding: 15px;
font-family: 'Roboto-Light';
color: #FFFFFF;
font-size: 16px;
background: #007BBF;
}

#catalog .wrapper .catalog--rghtside .catalog--sortpages ul {
font-size: 0;
}

#catalog .wrapper .catalog--rghtside .catalog--sortpages ul li {
display: inline-block;
width: 33.3333%;
vertical-align: top;
font-size: 14px;
color: #FFFFFF;
}

/*
#catalog .wrapper .catalog--rghtside .catalog--sortpages ul li form {

}

#catalog .wrapper .catalog--rghtside .catalog--sortpages ul li form fieldset {

}
*/

#catalog .wrapper .catalog--rghtside .catalog--sortpages ul li form fieldset select {
font-size: 14px;
font-family: 'Roboto-Light';
}




#catalog .wrapper .catalog--rghtside .catalog--topvente {
border-top: 1px solid #007BBF;
border-bottom: 1px solid #007BBF;
padding: 25px 0;
margin: 15px 0;
}

#catalog .wrapper .catalog--rghtside .catalog--topvente h2 {
text-transform: uppercase;
text-align: center;
font-size: 24px;
color: #007BBF;
margin: 0;
font-weight: normal;
font-family: 'Roboto-BlackItalic';
}

#catalog .wrapper .catalog--rghtside .catalog--topvente ul {
font-size: 0;
}

#catalog .wrapper .catalog--rghtside .catalog--topvente ul li {
display: inline-block;
padding: 10px;
width: 20%;
vertical-align: top;
}

/*
#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article {

}
*/

#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article figure {
position: relative;
}

#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article figure img {
display: block;
width: 100%;
height: auto;
}

/*
#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article figure figcaption {

}
*/

#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article figure figcaption span.catalog--topvente--produit {
display: block;
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #191416;
}

#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article figure figcaption span.catalog--topvente--prix {
display: block;
font-family: 'Roboto-Light';
font-size: 12px;
color: #007BBF;
}

#catalog .wrapper .catalog--rghtside .catalog--topvente ul li article figure a {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}












#catalog .wrapper .catalog--rghtside .catalog-listitem {
font-size: 0;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article {
display: inline-block;
width: 33.33333%;
vertical-align: top;
margin-bottom: 20px;
padding: 0 10px;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure {
position: relative;
padding: 20px;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure img {
display: block;
width: 100%;
height: auto;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure a.catalog--getitem {
position: absolute;
top: 20px;
left: 20px;
right: 20px;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure a.catalog--getitem img.catalog--blank {
display: block;
width: 100%;
height: auto;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption span.catalog--item--titre {
display: block;
font-size: 14px;
font-family: 'Roboto-BlackItalic';
text-transform: uppercase;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption span.catalog--item--prix {
display: block;
font-size: 14px;
font-family: 'Roboto-Light';
color: #007BBF;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption .catalog--item--actions {
padding-top: 15px;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption .catalog--item--actions ul {
font-size: 0;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption .catalog--item--actions ul li {
display: inline-block;
width: 50%;
vertical-align: top;
text-align: center;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption .catalog--item--actions ul li a {
display: inline-block;
background: #007BBF;
padding: 10px;
border-radius: 2rem;
}

#catalog .wrapper .catalog--rghtside .catalog-listitem article figure figcaption .catalog--item--actions ul li a img {
display: block;
width: 24px;
height: auto;
}
