<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Support</span>
  </div>
</div>

<section id="support">

  <h2>Besoin d'aide ?</h2>
  <h3>Nous sommes disponible et à votre écoute.</h3>

  <div class="support--team">
    <ul>
      <li>
        <figure>
          <img src="assets/img/support/team-alexis.png" alt="Alexis Abalea" title="Alexis Abalea">
          <figcaption>Alexis Abalea</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/team-yoan.png" alt="Yoan Blino" title="Yoan Blino">
          <figcaption>Yoan Blino</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/team-richard.png" alt="Richard Capon" title="Richard Capon">
          <figcaption>Richard Capon</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/team-marc.png" alt="Marc Grondin" title="Marc Grondin">
          <figcaption>Marc Grondin</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/team-christopher.png" alt="Christopher Lauricella" title="Christopher Lauricella">
          <figcaption>Christopher Lauricella</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/team-xavier.png" alt="Xavier Meckler" title="Xavier Meckler">
          <figcaption>Xavier Meckler</figcaption>
        </figure>
      </li>
    </ul>

    <a routerLink="/contact">Contactez-nous</a>

  </div>

  <h2>Suivez-nous !</h2>
  <h3>Nos réseaux sociaux sont une mine d'informations !</h3>

  <div class="support--social">

    <ul>
      <li>
        <figure>
          <img src="assets/img/support/social-facebook.svg" alt="Facebook" title="Facebook">
          <figcaption>
            <a href="#">
              Facebook<br>
              /GoodiesEnough
            </a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/social-twitter.svg" alt="Twitter" title="Twitter">
          <figcaption>
            <a href="#">
              Twitter<br>
              /GoodiesEnough
            </a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="assets/img/support/social-dribbble.svg" alt="Dribble" title="Dribble">
          <figcaption>
            <a href="#">
              Dribble<br>
              @GoodiesEnough
            </a>
          </figcaption>
        </figure>
      </li>
    </ul>

  </div>

</section>
