#support {
width: 100%;
max-width: 1000px;
margin: auto;
}

#support h2 {
font-family: 'Roboto-Bold';
text-align: center;
color: #191416;
margin: 30px auto 0 auto;
}

#support h3 {
font-family: 'Roboto-Medium';
font-weight: normal;
text-align: center;
color: #191416;
margin: 0 auto;
}

#support .support--team {
width: 100%;
padding: 30px 0;
text-align: center;
}

#support .support--team ul {
font-size: 0;
}

#support .support--team ul li {
display: inline-block;
width: 16.66666%;
vertical-align: top;
}

#support .support--team ul li figure {
width: 100%;
padding: 10px;
}

#support .support--team ul li figure img {
display: block;
width: 100%;
height: auto;
border: 1px solid #999999;
border-radius: 100%;
}

#support .support--team ul li figure figcaption {
font-family: 'Roboto-Light';
font-size: 14px;
color: #999999;
text-align: center;
padding-top: 5px;
}

#support .support--team a {
margin-top: 50px;
display: inline-block;
font-family: 'Roboto-Medium';
font-size: 18px;
text-transform: uppercase;
padding: 8px 15px;
color: #FFFFFF;
text-decoration: none;
background: #007bbf;
}



#support .support--social {
margin-bottom: 50px;
}

#support .support--social ul {
font-size: 0;
}

#support .support--social ul li {
display: inline-block;
width: 33.3333%;
padding: 25px 15px;
vertical-align: top;
}

#support .support--social ul li figure {
text-align: center;
border: 1px solid #999999;
border-radius: 8px;
padding: 25px;
}

#support .support--social ul li figure img {
width: 100%;
max-width: 32px;
height: auto;
margin: 0 auto;
}

#support .support--social ul li figure figcaption {
padding-top: 10px;
text-align: center;
}

#support .support--social ul li figure figcaption a {
font-size: 14px;
color: #007BBF;
text-decoration: none;
}
