.reviews--5stars { width: 100%; }
.reviews--4stars { width: 80%; }
.reviews--3stars { width: 60%; }
.reviews--2stars { width: 40%; }
.reviews--1stars { width: 20%; }

#reviews {
width: 100%;
max-width: 1000px;
margin: 0 auto;
border-top: 1px solid rgba(0,0,0,.15);
}

#reviews .wrapper {
font-size: 0;
}

#reviews .wrapper .reviews--overall {
display: inline-block;
width: 50%;
vertical-align: top;
font-size: 0;
padding: 20px;
}

#reviews .wrapper .reviews--overall .reviews--average {
display: inline-block;
width: 50%;
height: 100%;
padding: 0 20px 20px 20px;
vertical-align: top;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--wrapaverage {
display: block;
text-align: center;
background: #007BBF;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--globrating {
display: block;
font-size: 20px;
font-family: 'Roboto-Medium';
color: #FFFFFF;
padding-top: 25px;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--avgrate {
display: block;
font-family: 'Roboto-Black';
font-size: 48px;
color: #FFFFFF;
padding: 10px 0;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--basedon {
display: block;
font-family: 'Roboto-Light';
font-size: 16px;
color: #FFFFFF;
padding-bottom: 25px;
}

#reviews .wrapper .reviews--overall .reviews--fullratings {
display: inline-block;
width: 50%;
vertical-align: top;
}

#reviews .wrapper .reviews--overall .reviews--fullratings .reviews--basedon {
display: block;
font-family: 'Roboto-Medium';
font-size: 16px;
margin-bottom: 15px;
}

/*
#reviews .wrapper .reviews--overall .reviews--fullratings ul {

}
*/

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars {
position: relative;
padding: 2px 0;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars {
position: relative;
display: inline-block;
width: 100px;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars span.reviews-yellowbar {
display: inline-block;
height: 20px;
background: #FBD600;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars ul.reviews--howmanystars {
position: absolute;
top: 0;
left: 0;
font-size: 0;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars ul.reviews--howmanystars li {
display: inline-block;
width: 20px;
vertical-align: top;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars ul.reviews--howmanystars li img {
display: inline-block;
width: 20px;
height: 20px;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars span.reviews--howmany {
position: absolute;
top: 7px;
left: 120px;
display: inline-block;
font-family: 'Roboto-Light';
font-size: 12px;
color: #191416;
}

#reviews .wrapper .reviews--comments {
display: inline-block;
width: 50%;
vertical-align: top;
padding: 0 0 50px 25px;
}

#reviews .wrapper .reviews--comments article {
width: 100%;
padding: 10px 20px;
margin: 10px 0;
border-bottom: 1px solid rgba(0,0,0,.15);
}

#reviews .wrapper .reviews--comments article figure {
font-size: 0;
}

#reviews .wrapper .reviews--comments article figure img.reviews--avatar {
display: inline-block;
width: 15%;
min-width: 60px;
max-width: 60px;
height: auto;
vertical-align: top;
}

#reviews .wrapper .reviews--comments article figure figcaption {
display: inline-block;
width: 85%;
vertical-align: top;
padding-top: 15px;
padding-left: 15px;
}

#reviews .wrapper .reviews--comments article figure figcaption span.reviews--username {
font-size: 16px;
font-family: 'Roboto-Medium';
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating {
position: relative;
width: 100px;
margin: 0;
padding: 0;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating .reviews--yellow {
height: 20px;
background: #FBD600;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating ul {
position: absolute;
top: 0;
left: 0;
font-size: 0;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating ul li {
display: inline-block;
width: 20px;
vertical-align: top;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating ul li img {
display: block;
width: 20px;
height: 20px;
}


#reviews .wrapper .reviews--comments article p {
font-family: 'Roboto-Light';
font-size: 14px;
line-height: 24px;
color: #191416;
}
