<section id="reviews">
  <div class="wrapper">

    <div class="reviews--overall">

        <div class="reviews--average">
          <div class="reviews--wrapaverage">
            <span class="reviews--globrating">Note moyenne</span>
            <span class="reviews--avgrate">3.33</span>
            <span class="reviews--basedon">(3 avis)</span>
          </div>
        </div>

        <div class="reviews--fullratings">
          <span class="reviews--basedon">Basé sur 3 avis</span>
          <ul>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                5 étoiles : 
                <span class="reviews-yellowbar reviews--5stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">1</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--4stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">0</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--3stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">1</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--2stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">1</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--1stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                </ul>
              </div>
              <span class="reviews--howmany">0</span>
            </li>
          </ul>
        </div>

    </div>

    <div class="reviews--comments">

      <article>
        <figure>
          <img src="/assets/img/avatars/avatar-01.svg" alt="Jordan Abid" title="Jordan Abid" class="reviews--avatar">
          <figcaption>
            <span class="reviews--username">Jordan Abid</span>
            <div class="reviews--rating">
              <div class="reviews--yellow reviews--5stars"></div>
              <ul>
                <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles par Jordan Abid" title="5 étoiles par Jordan Abid"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles par Jordan Abid" title="5 étoiles par Jordan Abid"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles par Jordan Abid" title="5 étoiles par Jordan Abid"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles par Jordan Abid" title="5 étoiles par Jordan Abid"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles par Jordan Abid" title="5 étoiles par Jordan Abid"></li>
              </ul>
            </div>
          </figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed culpa vero quasi illum quo, dignissimos impedit ea accusamus porro iure soluta temporibus nisi architecto.
        </p>
      </article>

      <article>
        <figure>
          <img src="/assets/img/avatars/avatar-02.svg" alt="Patrick Smadja" title="Patrick Smadja" class="reviews--avatar">
          <figcaption>
            <span class="reviews--username">Patrick Smadja</span>
            <div class="reviews--rating">
              <div class="reviews--yellow reviews--2stars"></div>
              <ul>
                <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles par Patrick Smadja" title="2 étoiles par Patrick Smadja"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles par Patrick Smadja" title="2 étoiles par Patrick Smadja"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles par Patrick Smadja" title="2 étoiles par Patrick Smadja"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles par Patrick Smadja" title="2 étoiles par Patrick Smadja"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles par Patrick Smadja" title="2 étoiles par Patrick Smadja"></li>
              </ul>
            </div>
          </figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia hic quos quas error ipsam laboriosam, quae quasi officiis harum molestias voluptates repellendus natus dolorum porro, in nisi sit velit. Obcaecati hic deserunt quia, laborum nostrum vero animi quis eos minus ducimus necessitatibus expedita ut voluptatum officiis fugiat. Repellat, numquam quo.
        </p>
      </article>

      <article>
        <figure>
          <img src="/assets/img/avatars/avatar-03.svg" alt="Nathalie Kosciusko-Morizet" title="Nathalie Kosciusko-Morizet" class="reviews--avatar">
          <figcaption>
            <span class="reviews--username">Nathalie Kosciusko-Morizet</span>
            <div class="reviews--rating">
              <div class="reviews--yellow reviews--3stars"></div>
              <ul>
                <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles par Nathalie Kosciusko-Morizet" title="3 étoiles par Nathalie Kosciusko-Morizet"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles par Nathalie Kosciusko-Morizet" title="3 étoiles par Nathalie Kosciusko-Morizet"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles par Nathalie Kosciusko-Morizet" title="3 étoiles par Nathalie Kosciusko-Morizet"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles par Nathalie Kosciusko-Morizet" title="3 étoiles par Nathalie Kosciusko-Morizet"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles par Nathalie Kosciusko-Morizet" title="3 étoiles par Nathalie Kosciusko-Morizet"></li>
              </ul>
            </div>
          </figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus totam expedita fugit earum eaque praesentium!
        </p>
      </article>

    </div>
    
  </div>
</section>