<section id="homepage">


  <div class="homepage--product">
    
    <div class="homepage--product--infos">
      <h1>{{mainItem.nom}}</h1>
      <p>{{mainItem.description}}</p>
      <div class="homepage--product--actions">
        <ul>
          <li class="button"><img src="/assets/img/template/seeitem.svg" alt="Voir la fiche produit" title="Voir la fiche produit"></li>
          <li class="textlink"><a routerLink="/catalogue/produit/{{mainItem.slug}}/{{mainItem.id}}">Voir la fiche produit</a></li>
        </ul>
      </div>
    </div>
    <div class="homepage--product--visuel">
      <figure>
        <img src="/assets/img/products/{{mainItem.image}}" alt="{{mainItem.nom}}" title="{{mainItem.nom}}">
        <a routerLink="/catalogue/produit/{{mainItem.slug}}/{{mainItem.id}}"></a>
      </figure>
    </div>

  </div>

  <div class="homepage--features">
    <ul>
      <li>
        <figure>
          <img src="/assets/img/template/delivery.svg" alt="Livraison gratuite" title="Livraison gratuite">
          <figcaption>Livraison gratuite</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/assets/img/template/refund.svg" alt="Satisfait ou remboursé" title="Satisfait ou remboursé">
          <figcaption>Satisfait ou remboursé</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/assets/img/template/support.svg" alt="Support 24/7" title="Support 24/7">
          <figcaption>Support 24/7</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/assets/img/template/secure.svg" alt="Paiement sécurisé" title="Paiement sécurisé">
          <figcaption>Paiement sécurisé</figcaption>
        </figure>
      </li>
    </ul>
  </div>


  <div class="homepage--promoted">
    <h2>Produits phares</h2>
    <ul class="homepage--promoted--listitem">
      <li *ngFor="let product of products">
        <figure>
          <img src="/assets/img/products/{{product.image}}" alt="{{product.nom}}" title="{{product.nom}}">
          <figcaption>
            <h3>{{product.nom}}</h3>
            <span class="homepage--promoted--price">€ {{(product.prix / 100).toFixed(2).replace('.', ',')}}</span>
            <ul class="homepage--promoted--actions">
              <li>&nbsp;</li>
              <!--<li><a routerLink="/catalogue/produit/{{product.slug}}/{{product.id}}"><img src="/assets/img/template/seeitem.svg" alt="Ajouter au panier" title="Ajouter au panier"></a></li>-->
              <li><a routerLink="/catalogue/produit/{{product.slug}}/{{product.id}}"><img src="/assets/img/template/seeitem.svg" alt="Voir la fiche produit" title="Voir la fiche produit"></a></li>
              <li>&nbsp;</li>
            </ul>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>

</section>

<popin-added></popin-added>