#homepage {
width: 100%;
}




#homepage .homepage--product {
width: 100%;
max-width: 1000px;
margin: 0 auto;
font-size: 0;
padding-top: 100px;
}


#homepage .homepage--product .homepage--product--infos {
display: inline-block;
width: 47.5%;
vertical-align: top;
padding-top: 175px;
}

#homepage .homepage--product .homepage--product--infos h1 {
font-family: 'Roboto-BlackItalic';
font-size: 36px;
color: #191416;
text-transform: uppercase;
}

#homepage .homepage--product .homepage--product--infos p {
font-size: 14px;
line-height: 24px;
font-family: 'Roboto-Light';
color: #999999;
}

/*
#homepage .homepage--product .homepage--product--infos .homepage--product--actions {
    
}
*/

.homepage--product--actions ul {
font-size: 0;
}

.homepage--product--actions ul li.button {
display: inline-block;
width: 50px;
height: 50px;
background: #007BBF;
border-radius: 2rem;
box-shadow: 0 0 25px 10px rgba(0,0,0,.15);
}

.homepage--product--actions ul li.button img {
display: block;
width: 24px;
height: auto;
margin: 13px 0 0 13px;
}

.homepage--product--actions ul li.textlink {
position: relative;
display: inline-block;
vertical-align: top;
height: 50px;
}

.homepage--product--actions ul li.textlink a {
position: absolute;
top: 50%;
left: 20px;
font-size: 16px;
white-space: nowrap;
text-decoration: none;
color: #191416;
transform: translateY(-50%);
}


#homepage .homepage--product .homepage--product--visuel {
display: inline-block;
width: 52.5%;
vertical-align: top;
}

#homepage .homepage--product .homepage--product--visuel figure {
position: relative;
}

#homepage .homepage--product .homepage--product--visuel figure img {
display: block;
width: 100%;
height: auto;
}

#homepage .homepage--product .homepage--product--visuel figure a {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}







#homepage .homepage--features {
width: 100%;
max-width: 1000px;
margin: 80px auto 80px auto;
padding: 25px 0;
background: #FFFFFF;
box-shadow: 0 0 25px 10px rgba(0,0,0,.15);
}

#homepage .homepage--features ul {
font-size: 0;
}

#homepage .homepage--features ul li {
display: inline-block;
width: 25%;
vertical-align: top;
border-left: 1px solid rgba(0,0,0,.15);
text-align: center;
}

#homepage .homepage--features ul li:first-child {
border: none;
}

#homepage .homepage--features ul li figure {
display: block;
width: 100%;
height: 100%;
}

#homepage .homepage--features ul li figure img {
display: block;
width: 100%;
max-width: 36px;
height: auto;
margin: 10px auto;
opacity: 0.6;
transition: all 400ms ease-in-out;
}

#homepage .homepage--features ul li figure figcaption {
font-family: 'Roboto-Medium';
color: #191416;
font-size: 16px;
opacity: 0.6;
transition: all 400ms ease-in-out;
}

#homepage .homepage--features ul li figure:hover img, #homepage .homepage--features ul li figure:hover figcaption {
opacity: 1;
}


#homepage .homepage--promoted {
width: 100%;
max-width: 1000px;
margin: 0 auto;
padding-bottom: 50px;
}

#homepage .homepage--promoted h2 {
font-family: 'Roboto-Black';
text-transform: uppercase;
text-align: center;
font-size: 36px;
color: #007BBF;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem {
font-size: 0;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li {
display: inline-block;
width: 33.3333%;
vertical-align: top;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure {
padding: 20px;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure img {
display: block;
width: 100%;
height: auto;
}

/*
#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption {

}
*/

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption h3 {
font-size: 24px;
font-family: 'Roboto-BlackItalic';
margin: 0;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption span.homepage--promoted--price {
font-size: 20px;
font-family: 'Roboto-MediumItalic';
color: #007BBF;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption ul.homepage--promoted--actions {
display: block;
font-size: 0;
margin: 15px 0 0 0;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption ul.homepage--promoted--actions li {
display: inline-block;
width: 25%;
vertical-align: top;
text-align: center;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption ul.homepage--promoted--actions li a {
display: inline-block;
background: #007BBF;
padding: 10px;
border-radius: 2rem;
}

#homepage .homepage--promoted ul.homepage--promoted--listitem li figure figcaption ul.homepage--promoted--actions li a img {
display: block;
width: 24px;
height: auto;
}
