#contact {
width: 100%;
max-width: 1000px;
margin: 50px auto 0 auto;
}

#contact .contact--map {
width: 100%;
}

#contact .contact--map iframe {
width: 100%;
}


#contact form {
margin-top: 50px;
}

#contact form fieldset .contact--form {
width: 100%;
}

#contact form fieldset .contact--form .wrapper {
font-size: 0;
}

#contact form fieldset .contact--form .wrapper .contact--infos {
display: inline-block;
width: 30%;
vertical-align: top;
}

#contact form fieldset .contact--form .wrapper .contact--infos ul li .contact--infos--info {
font-size: 0;
}

#contact form fieldset .contact--form .wrapper .contact--infos ul li .contact--infos--info .icon {
vertical-align: top;
display: inline-block;
width: 50px;
padding: 13px;
}

#contact form fieldset .contact--form .wrapper .contact--infos ul li .contact--infos--info .icon img {
display: block;
width: 100%;
height: auto;
}

#contact form fieldset .contact--form .wrapper .contact--infos ul li .contact--infos--info .info {
display: inline-block;
font-family: 'Roboto-Medium';
font-size: 16px;
color: #191416;
vertical-align: top;
padding-top: 12px;
}

#contact form fieldset .contact--form .wrapper .contact--infos ul li .contact--infos--info .info span {
display: block;
font-size: 12px;
color: #999999;
padding-top: 3px;
}

#contact form fieldset .contact--form .wrapper .contact--input {
display: inline-block;
width: 35%;
vertical-align: top;
}

#contact form fieldset .contact--form .wrapper .contact--input ul li {
padding: 8px 15px;
}

#contact form fieldset .contact--form .wrapper .contact--input ul li input {
width: 100%;
height: 32px;
font-size: 16px;
font-family: 'Roboto-Medium';
color: #191416;
padding: 5px;
}

#contact form fieldset .contact--form .wrapper .contact--messg {
display: inline-block;
width: 35%;
vertical-align: top;
}

#contact form fieldset .contact--form .wrapper .contact--messg ul li {
text-align: right;
padding: 8px 15px;
}

#contact form fieldset .contact--form .wrapper .contact--messg ul li textarea {
height: 128px;
font-size: 16px;
font-family: 'Roboto-Medium';
color: #191416;
width: 100%;
resize: none;
padding: 5px;
}

#contact form fieldset .contact--form .wrapper .contact--messg ul li button {
border: none;
background: #007BBF;
color: #FFFFFF;
padding: 8px 15px;
font-family: 'Roboto-Medium';
text-transform: uppercase;
}
