<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Contacts</span>
  </div>
</div>

<section id="contact">

  <div class="contact--map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4542.633492870796!2d0.6832778164932815!3d47.391144426301295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd5b6ddb544bf%3A0x26d169377eb71863!2s4+Rue+Gambetta%2C+37000+Tours!5e0!3m2!1sen!2sfr!4v1552083299506" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <form action="">
    <fieldset>

      <div class="contact--form">
        <div class="wrapper">
          <div class="contact--infos">
            <ul>
              <li>
                <div class="contact--infos--info">
                  <div class="icon"><img src="assets/img/contact/home.svg" alt="Adresse" title="Adresse"></div>
                  <div class="info">Tours, France<span>4, rue Gambetta</span></div>
                </div>
              </li>
              <li>
                <div class="contact--infos--info">
                  <div class="icon"><img src="assets/img/contact/phone.svg" alt="Téléphone" title="Téléphone"></div>
                  <div class="info">(+33) 6 66 66 66 66<span>Du lun au ven de 9 h à 18 h</span></div>
                </div>
              </li>
              <li>
                <div class="contact--infos--info">
                  <div class="icon"><img src="assets/img/contact/email.svg" alt="Email" title="Email"></div>
                  <div class="info">support@goodies-enough.com<span>Soyez libre de nous contacter !</span></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="contact--input">
            <ul>
              <li><input type="text" name="name" id="name" placeholder="Votre nom"></li>
              <li><input type="email" name="email" id="email" placeholder="Votre email"></li>
              <li><input type="text" name="subject" id="subject" placeholder="Sujet de votre message"></li>
            </ul>
          </div>
          <div class="contact--messg">
            <ul>
              <li><textarea name="message" id="message" placeholder="Votre message"></textarea></li>
              <li><button type="submit">Envoyer le message</button></li>
            </ul>
          </div>
        </div>
      </div>

    </fieldset>
  </form>

</section>