@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
	font-family: 'Roboto-Thin';
	src: url('/assets/ttf/Roboto-Thin.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Thin.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Thin.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('/assets/ttf/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-ThinItalic.woff') format('woff'), 
		 url('/assets/ttf/Roboto-ThinItalic.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Light';
	src: url('/assets/ttf/Roboto-Light.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Light.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Light.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('/assets/ttf/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-LightItalic.woff') format('woff'), 
		 url('/assets/ttf/Roboto-LightItalic.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Regular';
	src: url('/assets/ttf/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Regular.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Regular.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Italic';
	src: url('/assets/ttf/Roboto-Italic.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Italic.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Italic.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Italic.svg#Roboto-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Medium';
	src: url('/assets/ttf/Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Medium.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Medium.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('/assets/ttf/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-MediumItalic.woff') format('woff'), 
		 url('/assets/ttf/Roboto-MediumItalic.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Bold';
	src: url('/assets/ttf/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Bold.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Bold.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('/assets/ttf/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-BoldItalic.woff') format('woff'), 
		 url('/assets/ttf/Roboto-BoldItalic.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Black';
	src: url('/assets/ttf/Roboto-Black.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-Black.woff') format('woff'), 
		 url('/assets/ttf/Roboto-Black.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-Black.svg#Roboto-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('/assets/ttf/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/ttf/Roboto-BlackItalic.woff') format('woff'), 
		 url('/assets/ttf/Roboto-BlackItalic.ttf')  format('truetype'), 
		 url('/assets/ttf/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
box-sizing: border-box;
outline: none;
font-family: 'Roboto-Regular';
}

html, body {
height: 100%;
min-height: 100%;
margin: 0;
padding: 0;
}

body {
padding-top: 100px;
background: #F5F5F5 url(/assets/img/template/main-bg.png) top center no-repeat;
}

::-webkit-input-placeholder { color: #999999; font-family: 'Roboto-Light'; }
:-ms-input-placeholder { color: #999999; font-family: 'Roboto-Light'; }
::placeholder { color: #999999; font-family: 'Roboto-Light'; }

figure, fieldset {
border: none;
margin: 0;
padding: 0;
}

ul {
list-style: none;
list-style-type: none;
list-style-position: unset;
margin: 0;
padding: 0;
}

#breadcrumb {
position: relative;
width: 100%;
max-width: 1000px;
margin: 0 auto;
height: 295px;
}

#breadcrumb .wrapper {
position: absolute;
top: 50%;
right: 50px;
transform: translateY(-50%);
}

#breadcrumb .wrapper .breadcrumb--title {
display: inline-block;
max-width: 575px;
font-size: 60px;
font-family: 'Roboto-Bold';
font-weight: bold;
color: #FFFFFF;
text-align: right;
}


#popinAdded {
/*** DEV ***/ display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 2000;
}

#popinAdded .popin--added--overlay {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(255,255,255,.75);
}

#popinAdded .wrapper {
position: fixed;
top: 50%;
left: 50%;
width: 600px;
transform: translateX(-50%) translateY(-50%);
background: #FFFFFF;
z-index: 2001;
box-shadow: 0 0 25px 10px rgba(0,0,0,.15);
border-radius: 1rem;
padding: 30px 0 0 0;
}

#popinAdded .wrapper .popin--added--content {
position: relative;
}

#popinAdded .wrapper .popin--added--content .popin--added--product {
font-size: 0;
padding: 0 40px 20px 40px;
}

#popinAdded .wrapper .popin--added--content .popin--added--product .visuel {
width: 15%;
display: inline-block;
vertical-align: top;
}

#popinAdded .wrapper .popin--added--content .popin--added--product .visuel img {
display: block;
width: 100%;
height: auto;
}

#popinAdded .wrapper .popin--added--content .popin--added--product .success {
display: inline-block;
width: 85%;
vertical-align: top;
text-align: center;
font-size: 16px;
color: #191416;
font-family: 'Roboto-Light';
padding: 0 20px;
}

#popinAdded .wrapper .popin--added--content .popin--added--product .success .product {
font-family: 'Roboto-BlackItalic';
text-transform: uppercase;
color: #191416;
font-size: 20px;
display: block;
}



#popinAdded .wrapper .popin--added--content .popin--added--actions {
font-size: 0;
}

#popinAdded .wrapper .popin--added--content .popin--added--actions li {
display: inline-block;
width: 50%;
vertical-align: top;
}

#popinAdded .wrapper .popin--added--content .popin--added--actions li a {
display: block;
font-size: 16px;
text-transform: uppercase;
color: #FFFFFF;
white-space: nowrap;
font-family: 'Roboto-Bold';
padding: 8px 15px;
text-align: center;
text-decoration: none;
}

#popinAdded .wrapper .popin--added--content .popin--added--actions li a.continue {
border-radius: 0 0 0 1rem;
	background: #4db4d7;
}

#popinAdded .wrapper .popin--added--content .popin--added--actions li a.gotocart {
border-radius: 0 0 1rem 0;
	background: #007BBF;
}

#popinAdded .wrapper .popin--close {
position: absolute;
top: 0;
right: 0;
width: 32px;
height: 32px;
}

#popinAdded .wrapper .popin--close img {
display: block;
width: 75%;
padding: 12.5%;
height: auto;
}
