<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Admin › Gestion des {{objets}}</span>
  </div>
</div>

<admin-nav></admin-nav>

<section id="categories">
  <div class="wrapper">

    <div class="admin--main--actions">
      <ul>
        <li><a routerLink="/admin-goodies/manage-categories"><img src="/assets/img/admin/icons/return.svg" alt="Retour aux {{objets}}" title="Retour aux {{objets}}"></a></li>
        <li><a routerLink="/admin-goodies/manage-categories/create"><img src="/assets/img/admin/icons/create.svg" alt="Ajouter {{unUne}} {{objet}}" title="Ajouter {{unUne}} {{objet}}"></a></li>
      </ul>
    </div>


    <div class="admin--main--form">
      <form action="">
        <fieldset>
          <ul>
            <li class="admin--form--snd"><button type="submit">Ajouter / modifier</button></li>
            <li class="admin--form--row"><input type="text" name="nom" id="nom" placeholder="Nom de {{deLeDu}}{{objet}}"></li>
            <li class="admin--form--snd"><button type="submit">Ajouter / modifier</button></li>
          </ul>
        </fieldset>
      </form>
    </div>


    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>nb. produits</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">World of Warcraft</a></td>
          <td>12</td>
          <td>
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/create.svg" alt="Ajouter un produit dans {{ceCette}} {{objet}}" title="Ajouter un produit dans {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Afficher le catalogue de {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Overwatch</a></td>
          <td>12</td>
          <td>
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/create.svg" alt="Ajouter un produit dans {{ceCette}} {{objet}}" title="Ajouter un produit dans {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Afficher le catalogue de {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Hearthstone</a></td>
          <td>12</td>
          <td>
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/create.svg" alt="Ajouter un produit dans {{ceCette}} {{objet}}" title="Ajouter un produit dans {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Afficher le catalogue de {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Blizzard</a></td>
          <td>12</td>
          <td>
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/create.svg" alt="Ajouter un produit dans {{ceCette}} {{objet}}" title="Ajouter un produit dans {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Afficher le catalogue de {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Cute but Deadly</a></td>
          <td>12</td>
          <td>
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/create.svg" alt="Ajouter un produit dans {{ceCette}} {{objet}}" title="Ajouter un produit dans {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Afficher le catalogue de {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</section>

<popin-delete></popin-delete>