<div id="popinCancel">
  <div class="popin--cancel--overlay"></div>
  <div class="wrapper">
    <div class="popin--cancel--content">

      <div class="popin--cancel--element">
        <div class="question">
          Êtes-vous certain·e de vouloir refuser cette commande ?
          <form action="">
            <fieldset>
              <textarea name="motifRefus" id="motifRefus" placeholder="Motif de votre refus*"></textarea>
            </fieldset>
          </form>
        </div>
      </div>

      <ul class="popin--cancel--actions">
        <li><a href="" class="cancel">NON</a></li>
        <li><a href="" class="confirm">OUI</a></li>
      </ul>
    </div>
    <a href="#" class="popin--close"><img src="/assets/img/template/close.svg" alt="Fermer" title="Fermer"></a>
  </div>
</div>