#popinCancel {
/*** DEV ***/display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 2000;
}

#popinCancel .popin--cancel--overlay {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(255,255,255,.75);
}

#popinCancel .wrapper {
position: fixed;
top: 50%;
left: 50%;
width: 600px;
transform: translateX(-50%) translateY(-50%);
background: #FFFFFF;
z-index: 2001;
box-shadow: 0 0 25px 10px rgba(0,0,0,.15);
border-radius: 1rem;
padding: 30px 0 0 0;
}

#popinCancel .wrapper .popin--cancel--content {
position: relative;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--element {
font-size: 0;
padding: 0 40px 20px 40px;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--element .question {
display: inline-block;
width: 100%;
vertical-align: top;
text-align: center;
font-size: 16px;
color: #191416;
font-family: 'Roboto-Light';
padding: 0 20px;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--element .question form fieldset textarea {
margin: 20px auto 0 auto;
width: 75%;
height: 70px;
resize: none;
border: 1px solid rgba(0,0,0,.25);
font-size: 16px;
font-family: 'Roboto-Bold';
color: #191416;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--actions {
font-size: 0;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--actions li {
display: inline-block;
width: 50%;
vertical-align: top;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--actions li a {
display: block;
font-size: 16px;
text-transform: uppercase;
color: #FFFFFF;
white-space: nowrap;
font-family: 'Roboto-Bold';
padding: 8px 15px;
text-align: center;
text-decoration: none;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--actions li a.cancel {
border-radius: 0 0 0 1rem;
background: #ff0c38;
}

#popinCancel .wrapper .popin--cancel--content .popin--cancel--actions li a.confirm {
border-radius: 0 0 1rem 0;
background: #9cdd05;
}

#popinCancel .wrapper .popin--close {
position: absolute;
top: 0;
right: 0;
width: 32px;
height: 32px;
}

#popinCancel .wrapper .popin--close img {
display: block;
width: 75%;
padding: 12.5%;
height: auto;
}