<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Foire Aux Questions</span>
  </div>
</div>

<section id="faq">
  <h2>Général</h2>
  <p>
    <span class="faq--question">En quoi le Goodies Enough Store européen est-il différent ?</span>
    <span class="faq--answer">
      Étant donné que les articles sont expédiés depuis notre entrepôt européen, les clients des 28 états membres de l’UE bénéficient désormais de frais de port réduits et de livraisons plus rapides, et sont exemptés de taxe d’importation lors de l’achat de Goodies Enough Collectibles, de vêtements et de bien d’autres articles.<br>
      Donnez une touche geek à votre quotidien !
    </span>
    
    <span class="faq--question">Un compte Goodies Enough est-il nécessaire pour passer commande ?</span>
    <span class="faq--answer">
      Vous pouvez faire vos achats sur le Goodies Enough Store en tant qu’invité, mais vous pouvez également créer un compte avec votre compte Goodies Enough existant.
    </span>
    
    <span class="faq--question">Comment créer un compte Goodies Enough ?</span>
    <span class="faq--answer">
      Si vous ne possédez pas déjà un compte Goodies Enough, rendez-vous sur  et cliquez sur « Créer un compte Goodies Enough gratuit ».
    </span>
    
    <span class="faq--question">Quels avantages y a-t-il à créer un compte ?</span>
    <span class="faq--answer">
      Si vous vous connectez avec un compte Goodies Enough, vous pourrez consulter l’historique de vos commandes, suivre les commandes en cours, enregistrer votre adresse de livraison et conserver en toute sécurité vos informations de facturation afin de faciliter le processus de paiement.
    </span>
    
    <span class="faq--question">Mes données seront-elles protégées si je crée un compte sur le Goodies Enough Store européen ?</span>
    <span class="faq--answer">
      Toutes les données personnelles enregistrées et/ou traitées lors de votre utilisation du Goodies Enough Store sont régies par notre . Des dispositifs de protection physiques, techniques et administratifs sont en place pour assurer la sécurité de vos données.
    </span>
    
    <span class="faq--question">J’ai déjà acheté des articles dans le Goodies Enough Store américain ; mes informations seront-elles transférées ? </span>
    <span class="faq--answer">
      Votre historique de commandes sur le Goodies Enough Store américain ne peut malheureusement pas être transféré sur votre compte du Goodies Enough Store européen, mais il ne sera pas perdu pour autant. Votre historique de commandes restera enregistré sur le Goodies Enough Store américain, et vous pourrez le consulter en vous connectant à la version américain du site.
    </span>
    
    <span class="faq--question">Puis-je toujours réaliser des achats sur le Goodies Enough Store américain ?</span>
    <span class="faq--answer">
      Les clients européens peuvent toujours réaliser des achats sur le Goodies Enough Store américain, mais les commandes risquent d’être soumises à des taxes d’importation et des frais de douane, selon le pays de livraison.
    </span>
  </p>

  <h2>Langues</h2>
  <p>
    <span class="faq--question">En quelles langues le Goodies Enough Store est-il disponible ?</span>
    <span class="faq--answer">
      Le site est actuellement disponible en anglais, français et allemand, mais nous comptons ajouter d’autres langues à l’avenir !
    </span>
    
    <span class="faq--question">Comment sont déterminées ma devise et ma langue par défaut ?</span>
    <span class="faq--answer">
      En fonction de votre emplacement actuel (votre adresse IP), les prix seront affichés en livres sterling (£) ou en euros (€). La langue affichée dépend de celle sélectionnée dans les paramètres de votre navigateur.
    </span>
    
    <span class="faq--question">Comment puis-je modifier mes préférences concernant la devise et la langue ?</span>
    <span class="faq--answer">
      Vous pouvez modifier vos préférences au bas de la page.
    </span>
  </p>

  <h2>Achat</h2>
  <p>
    <span class="faq--question">Quelles méthodes de paiement sont disponibles sur le Goodies Enough Store européen ?</span>
    <span class="faq--answer">
      Les méthodes de paiement comme PayPal, ainsi que les cartes de crédit les plus courantes comme VISA, MasterCard et American Express, sont acceptées sur le Goodies Enough Store européen.
    </span>
    
    <span class="faq--question">Pourquoi les prix diffèrent-ils entre le Goodies Enough Store américain et celui européen ?</span>
    <span class="faq--answer">
      Les prix affichés sur le Goodies Enough Store européen comprennent les taux de TVA en vigueur, et sont définis en accord avec les normes régionales.
    </span>
    
    <span class="faq--question">Comment savoir quelle taille commander pour les vêtements ?</span>
    <span class="faq--answer">
      Un guide des tailles est disponible pour les vêtements, afin de vous aider à choisir la bonne taille.<br>
      Chaque produit est unique, et nous vous recommandons toujours de consulter nos tableaux des tailles avant d’ajouter des articles dans votre panier. Il pourrait être utile de mesurer un de vos vêtements similaires (largeur juste sous les bras, et longueur de l’épaule à la hanche), puis de le comparer à notre tableau des tailles.
    </span>
    
    <span class="faq--question">D’où sont expédiées les commandes ?</span>
    <span class="faq--answer">
      Les produits du Goodies Enough Store européen sont expédiés depuis notre entrepôt aux Pays-Bas, dont l’inventaire est séparé de celui du Goodies Enough Store américain.
    </span>
    
    <span class="faq--question">Que faire si un article que je souhaite acheter est disponible sur le Goodies Enough Store américain, mais pas sur la boutique européenne ?</span>
    <span class="faq--answer">
      Comme les inventaires sont séparés, il est possible que certains articles soient disponibles sur un site, et non sur l’autre. Nous ajouterons régulièrement de nouveaux objets au Goodies Enough Store européen. Si un article qui vous intéresse n’est pas disponible sur le Goodies Enough Store européen, vous pouvez l’acheter directement sur le Goodies Enough Store américain (des taxes d’importation, des frais de douane et autres taxes s’appliqueront peut-être).
    </span>
    
    <span class="faq--question">Puis-je laisser des évaluations sur les articles du Goodies Enough Store européen ?</span>
    <span class="faq--answer">
      Seuls les clients possédant un compte Goodies Enough peuvent rédiger des évaluations, et uniquement pour les articles qu’ils ont achetés. Pour ce faire, rendez-vous sur la page d’un produit que vous souhaitez évaluer, et soumettez votre commentaire. Prenez le temps de lire notre  pour vous renseigner sur notre processus de modération des évaluations.
    </span>
  </p>

  <h2>Livraison</h2>
  <p>
    <span class="faq--question">Quelles méthodes de livraison propose le Goodies Enough Store européen ?</span>
    <span class="faq--answer">
      Le Goodies Enough Store européen propose deux méthodes de livraison différentes : par courrier (sans suivi) ou transporteur (avec numéro de suivi).
    </span>
    
    <span class="faq--question">Combien coûte la livraison ?</span>
    <span class="faq--answer">
      Les frais de livraison varient en fonction du poids de votre colis, de l’adresse de livraison et de la méthode de livraison choisie. Le montant précis sera automatiquement calculé et affiché durant le processus de paiement.
    </span>
    
    <span class="faq--question">Vers quels pays puis-je demander une livraison ?</span>
    <span class="faq--answer">
      Nous expédions actuellement vers les destinations suivantes. Nous espérons ajouter d’autres pays à cette liste à l’avenir :<br>
      Autriche, Belgique, Bulgarie, Croatie, Chypre, République tchèque, Danemark, Estonie, Finlande, France, Allemagne, Grèce, Hongrie, Irlande, Italie, Lettonie, Lituanie, Luxembourg, Malte, Pays-Bas, Pologne, Portugal, Roumanie, Slovaquie, Slovénie, Espagne, Suède, Royaume-Uni
    </span>
      
    <span class="faq--question">Et si mon pays ne figure pas dans la liste ?</span>
    <span class="faq--answer">
      Si votre pays ne fait pas partie des 28 états membres de l’Union européenne, vous pouvez toujours passer commande sur le Goodies Enough Store américain. Toutefois, votre commande pourra faire l’objet de taxes d’importation et de frais de douane. 
    </span>
  </p>

  <h2>Remboursements et retours</h2>
  <p>
    <span class="faq--question">Comment signaler un problème affectant ma commande ? (défaut, échange, demande de remboursement, etc.) </span>
    <span class="faq--answer">
      Veuillez consulter nos  et contacter notre équipe d’  en cas de besoin.
    </span>
    
    <span class="faq--question">Puis-je annuler ou renvoyer ma commande si je change d’avis ?</span>
    <span class="faq--answer">
      Si vous résidez dans l’Union européenne, vous avez le droit d’annuler votre achat durant les 14 jours suivant la réception de votre commande, sans avoir à vous justifier. Nous vous invitons à consulter la section « Droit de rétractation » de nos , pour plus d’informations sur la façon dont vous pouvez exercer ce droit.
    </span>
    
    <span class="faq--question">Comment annuler une commande ?</span>
    <span class="faq--answer">
      Vous pouvez annuler toute commande récemment effectuée tant qu’elle n’est pas expédiée. Cette option reste disponible jusqu’à 30 minutes après avoir confirmé la commande. Pour annuler votre commande,  et utilisez l’option d’annulation.<br>
      Si vous essayez d’annuler une commande en préachat et que vous recevez un message d’erreur, vous devrez peut-être attendre jusqu’à une heure après avoir passé commande avant de pouvoir procéder à l’annulation. Il s’agit d’une restriction technique due à la façon dont les fonds sont gérés pour les précommandes.
    </span>
  </p>

  <h2>Préachats/promotions</h2>
  <p>
    <span class="faq--question">Comment fonctionne le système de préachat ?</span>
    <span class="faq--answer">
      Lorsque vous préachetez un article sur le Goodies Enough Store européen, le paiement est immédiatement traité, et l’article vous est expédié dès qu’il est en stock (dans les délais indiqués dans la description de l’article).<br>
      Vous avez le droit d’annuler votre préachat et de demander un remboursement avant l’expédition de l’article. Une fois l’article expédié, si vous résidez dans l’Union européenne, vous avez le droit d’annuler votre achat durant les 14 jours suivant la réception de votre commande, sans avoir à vous justifier. Nous vous invitons à consulter la section « Droit de rétractation » de nos , pour plus d’informations sur la façon dont vous pouvez exercer ce droit.
    </span>
    
    <span class="faq--question">Puis-je transférer une commande en préachat effectuée sur le Goodies Enough Store américain vers le Goodies Enough Store européen ?</span>
    <span class="faq--answer">
      Vous ne pouvez pas transférer directement votre commande, mais vous pouvez annuler la commande du Goodies Enough Store américain et en effectuer une nouvelle sur le Goodies Enough Store européen (dans la limite des stocks disponibles). Pour annuler votre première commande,  sur le Goodies Enough Store américain et utilisez l’option proposée pour l’annuler. Vous ne pourrez annuler votre commande que si celle-ci est encore en cours de traitement et n’a pas été expédiée. Vous pourrez ensuite passer commande sur le Goodies Enough Store européen.<br>
      Remarque : nous vous conseillons de vérifier que vous êtes en mesure d’effectuer une nouvelle commande et que l’article est disponible avant d’annuler votre première commande.
    </span>
    
    <span class="faq--question">Les promotions sur le Goodies Enough Store américain sont-elles également valables sur le Goodies Enough Store européen ?</span>
    <span class="faq--answer">
      Les promotions locales sont soumises à des conditions bien précises qui ne concernent pas forcément les deux sites à la fois. Aussi, nous ne pouvons garantir qu’une même promotion sera valable simultanément dans les deux régions. Si vous souhaitez profiter d’une promotion spécifique, passez commande sur le Goodies Enough Store proposant cette promotion.
    </span>
    
    <span class="faq--question">J’ai reçu un code promotionnel pour le Goodies Enough Store américain ; puis-je l’utiliser sur le Goodies Enough Store européen?</span>
    <span class="faq--answer">
      Les codes promotionnels sont uniquement valables dans leur région d’origine. Un code promotionnel pour le Goodies Enough Store américain ne peut pas être utilisé sur le Goodies Enough Store européen.
    </span>
  </p>
</section>