#faq {
width: 100%;
max-width: 1000px;
margin: 0 auto;
}

#faq h2 {
font-family: 'Roboto-Bold';
border-bottom: 1px solid #191416;
}

#faq p {
font-size: 16px;
color: #191416;
}

#faq p span {
display: block;
margin-bottom: 10px;
}

#faq p span.faq--question {
font-family: 'Roboto-Medium';
}

#faq p span.faq--answer {
margin-bottom: 25px;
}
