#reviews {
width: 100%;
max-width: 500px;
margin: 50px auto;
}

/*
#reviews .wrapper {

}
*/

#reviews .wrapper article {
border-bottom: 1px solid rgba(0,0,0,.25);
padding: 25px 0;
}

#reviews .wrapper article:first-child {
border-top: 1px solid rgba(0,0,0,.25);
}

/*
#reviews .wrapper article form {

}

#reviews .wrapper article form fieldset {

}
*/

#reviews .wrapper article form fieldset .reviews--product {
font-size: 0;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--visuel {
display: inline-block;
width: 20%;
vertical-align: top;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--visuel figure {
width: 100%;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--visuel figure img {
width: 100%;
height: auto;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment {
display: inline-block;
width: 80%;
vertical-align: top;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment .reviews--product--title {
font-family: 'Roboto-BlackItalic';
font-size: 24px;
color: #191416;
display: block;
padding: 10px;
}

/*
#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul {

}
*/

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul li.reviews--form--rat {
padding: 10px;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul li.reviews--form--rat select {
width: 100%;
font-size: 16px;
padding: 10px;
font-family: 'Roboto-Bold';
color: #191416;
border: none;
border-bottom: 2px solid rgba(0,0,0,.25);
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul li.reviews--form--row {
padding: 10px;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul li.reviews--form--row textarea {
width: 100%;
height: 100px;
font-size: 16px;
padding: 10px;
font-family: 'Roboto-Bold';
color: #191416;
border: none;
border-bottom: 2px solid rgba(0,0,0,.25);
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul li.reviews--form--snd {
padding: 10px;
text-align: right;
}

#reviews .wrapper article form fieldset .reviews--product .reviews--product--comment ul li.reviews--form--snd button {
border: none;
padding: 8px 25px;
background: #007BBF;
color: #FFFFFF;
font-size: 18px;
font-family: 'Roboto-Bold';
text-decoration: none;
text-transform: uppercase;
}
