<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Catalogue › Produit › Laisser un commentaire</span>
  </div>
</div>

<section id="reviews">
  <div class="wrapper">

    <article>
      <form action="">
        <fieldset>
          <input type="hidden" name="produit" id="produit" value="12553">
          <div class="reviews--product">
            <div class="reviews--product--visuel">
              <figure><img src="/assets/img/temp/products/sc-pullover-front-tile.png" alt="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT" title="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT"></figure>
            </div>
            <div class="reviews--product--comment">
              <span class="reviews--product--title">SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT</span>
              <ul>
                <li class="reviews--form--rat">
                  <select name="rating" id="rating">
                    <option value="">Votre note : </option>
                    <option value="5">5 étoiles</option>
                    <option value="4">4 étoiles</option>
                    <option value="3">3 étoiles</option>
                    <option value="2">2 étoiles</option>
                    <option value="1">1 étoile</option>
                  </select>
                </li>
                <li class="reviews--form--row"><textarea name="review" id="review" placeholder="Laisser votre avis sur ce produit*" required="required"></textarea></li>
                <li class="reviews--form--snd"><button type="submit">Valider</button></li>
              </ul>
            </div>
          </div>
        </fieldset>
      </form>
    </article>

    <article>
      <form action="">
        <fieldset>
          <input type="hidden" name="produit" id="produit" value="12553">
          <div class="reviews--product">
            <div class="reviews--product--visuel">
              <figure><img src="/assets/img/temp/products/sc-pullover-front-tile.png" alt="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT" title="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT"></figure>
            </div>
            <div class="reviews--product--comment">
              <span class="reviews--product--title">SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT</span>
              <ul>
                <li class="reviews--form--rat">
                  <select name="rating" id="rating">
                    <option value="">Votre note : </option>
                    <option value="5">5 étoiles</option>
                    <option value="4">4 étoiles</option>
                    <option value="3">3 étoiles</option>
                    <option value="2">2 étoiles</option>
                    <option value="1">1 étoile</option>
                  </select>
                </li>
                <li class="reviews--form--row"><textarea name="review" id="review" placeholder="Laisser votre avis sur ce produit*" required="required"></textarea></li>
                <li class="reviews--form--snd"><button type="submit">Valider</button></li>
              </ul>
            </div>
          </div>
        </fieldset>
      </form>
    </article>

    <article>
      <form action="">
        <fieldset>
          <input type="hidden" name="produit" id="produit" value="12553">
          <div class="reviews--product">
            <div class="reviews--product--visuel">
              <figure><img src="/assets/img/temp/products/sc-pullover-front-tile.png" alt="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT" title="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT"></figure>
            </div>
            <div class="reviews--product--comment">
              <span class="reviews--product--title">SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT</span>
              <ul>
                <li class="reviews--form--rat">
                  <select name="rating" id="rating">
                    <option value="">Votre note : </option>
                    <option value="5">5 étoiles</option>
                    <option value="4">4 étoiles</option>
                    <option value="3">3 étoiles</option>
                    <option value="2">2 étoiles</option>
                    <option value="1">1 étoile</option>
                  </select>
                </li>
                <li class="reviews--form--row"><textarea name="review" id="review" placeholder="Laisser votre avis sur ce produit*" required="required"></textarea></li>
                <li class="reviews--form--snd"><button type="submit">Valider</button></li>
              </ul>
            </div>
          </div>
        </fieldset>
      </form>
    </article>

    <article>
      <form action="">
        <fieldset>
          <input type="hidden" name="produit" id="produit" value="12553">
          <div class="reviews--product">
            <div class="reviews--product--visuel">
              <figure><img src="/assets/img/temp/products/sc-pullover-front-tile.png" alt="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT" title="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT"></figure>
            </div>
            <div class="reviews--product--comment">
              <span class="reviews--product--title">SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT</span>
              <ul>
                <li class="reviews--form--rat">
                  <select name="rating" id="rating">
                    <option value="">Votre note : </option>
                    <option value="5">5 étoiles</option>
                    <option value="4">4 étoiles</option>
                    <option value="3">3 étoiles</option>
                    <option value="2">2 étoiles</option>
                    <option value="1">1 étoile</option>
                  </select>
                </li>
                <li class="reviews--form--row"><textarea name="review" id="review" placeholder="Laisser votre avis sur ce produit*" required="required"></textarea></li>
                <li class="reviews--form--snd"><button type="submit">Valider</button></li>
              </ul>
            </div>
          </div>
        </fieldset>
      </form>
    </article>

  </div>
</section>