<footer>

  <div class="wrapper">
  
    <div class="left--footer">
      <span class="titre--footer">Produits par catégories</span>
      <ul>
        <li *ngFor="let category of categories"><a routerLink="/catalogue/{{category.slug}}/{{category.id}}">{{category.nom}}</a></li>
      </ul>
    </div>
  
    <div class="rght--footer">
      <span class="titre--footer">Aide</span>
      <ul>
        <li><a routerLink="/support">Support</a></li>
        <li><a routerLink="/contact">Contacts</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/cgv">CGV</a></li>
      </ul>
    </div>
  
  </div>
  
  <div class="legales">
    &copy; AJC - APSIDE - GILETS JAUNES 2019 - <a routerLink="/legales">Mentions légales</a>
  </div>
  
</footer>