/* Mobile first! */
footer { width: 100%; text-align: center; background: #191416; } 
footer .wrapper { width: 100%; max-width: 1200px; margin: 0 auto; font-size: 0; } 
footer .wrapper .left--footer { display: inline-block; width: 100%; vertical-align: top; text-align: left; padding: 15px; } 
footer .wrapper .rght--footer { display: inline-block; width: 100%; vertical-align: top; text-align: left; padding: 15px; } 
footer .wrapper .left--footer .titre--footer, footer .wrapper .rght--footer .titre--footer { font-family: 'Roboto-Bold'; font-size: 24px; font-weight: bold; color: #FFF; text-transform: uppercase; } 
footer .wrapper .left--footer ul, footer .wrapper .rght--footer ul { margin: 15px 0 0 0; }
footer .wrapper .left--footer ul { font-size: 0; }
footer .wrapper .left--footer ul li, footer .wrapper .rght--footer ul li { font-size: 16px; padding: 3px 0 3px 15px; } 
footer .wrapper .left--footer ul li { display: inline-block; width: 100%; vertical-align: top; }
footer .wrapper .left--footer ul li a, footer .wrapper .rght--footer ul li a { color: #FFF; text-decoration: none; font-family: 'Roboto-Light'; } 

footer .legales { width: 100%; border-top: 1px solid #007BBF; padding: 8px 0; text-align: center; color: #FFF; font-size: 12px; } 
footer .legales a { display: inline-block; color: #FFF; text-decoration: none; } 

/* Mobile format paysage */
@media (min-width: 568px) {



}


/* Tablette format portrait */
@media (min-width: 768px) {

    footer .wrapper .left--footer { width: 65%; } 
    footer .wrapper .rght--footer { width: 35%; }
    footer .wrapper .left--footer ul li { width: 33.3333%; }

}


/* Écran desktop */
@media (min-width: 990px) {



}

/* Écrans de riches ! */
@media (min-width: 1200px) {



}