<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Admin › Gestion des {{objets}}</span>
  </div>
</div>

<admin-nav></admin-nav>

<section id="products">
  <div class="wrapper">



      <div class="admin--main--actions">
        <ul>
          <li><a routerLink="/admin-goodies/manage-products"><img src="/assets/img/admin/icons/return.svg" alt="Retour aux {{objets}}" title="Retour aux {{objets}}"></a></li>
          <li><a routerLink="/admin-goodies/manage-products/create"><img src="/assets/img/admin/icons/create.svg" alt="Ajouter {{unUne}} {{objet}}" title="Ajouter {{unUne}} {{objet}}"></a></li>
        </ul>
      </div>

      <div class="admin--main--form">
        <form action="">
          <fieldset>
            <ul>
              <li class="admin--form--snd"><button type="submit">Ajouter / modifier</button></li>
              <li class="admin--form--row"><input type="text" name="nom" id="nom" placeholder="Nom {{deLeDu}}{{objet}}"></li>
              <li class="admin--form--row"><input type="number" name="prix" id="prix" step="0.01" placeholder="Prix {{deLeDu}}{{objet}}"></li>
              <li class="admin--form--row">
                <select name="categorie" id="categorie">
                  <option value="">Catégorie associée</option>
                  <option value="1">World of Warcraft</option>
                  <option value="2">Starcraft</option>
                  <option value="3">Heroes of the Storm</option>
                  <option value="4">Blizzard</option>
                  <option value="5">Warcraft III</option>
                  <option value="6">Overwatch</option>
                  <option value="7">Hearthstone</option>
                  <option value="8">Diablo III</option>
                  <option value="9">Cute but Deadly</option>
                </select>
              </li>
              <li class="admin--form--row"><label for="enStock"><input type="checkbox" name="enStock" id="enStock" value="1"> Sur commande?</label></li>
              <li class="admin--form--row"><textarea name="image" id="image" placeholder="Image {{deLeDu}}{{objet}} (BASE64)"></textarea></li>
              <li class="admin--form--row"><textarea name="description" id="description" placeholder="Descrption {{deLeDu}}{{objet}}"></textarea></li>
              <li class="admin--form--snd"><button type="submit">Ajouter / modifier</button></li>
            </ul>
          </fieldset>
        </form>
      </div>


      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Actions</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Sweat à capuche à demi-fermeture éclair Starcraft</a></td>
            <td>StarCraft</td>
            <td>€ 40,00</td>
            <td>
              <ul>
                <li><a routerLink=""><img src="/assets/img/admin/icons/promote.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Promouvoir {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Sweat à capuche à demi-fermeture éclair Starcraft</a></td>
            <td>StarCraft</td>
            <td>€ 40,00</td>
            <td>
              <ul>
                <li><a routerLink=""><img src="/assets/img/admin/icons/promoted.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Dé-promouvoir {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Sweat à capuche à demi-fermeture éclair Starcraft</a></td>
            <td>StarCraft</td>
            <td>€ 40,00</td>
            <td>
              <ul>
                <li><a routerLink=""><img src="/assets/img/admin/icons/promote.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Promouvoir {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Sweat à capuche à demi-fermeture éclair Starcraft</a></td>
            <td>StarCraft</td>
            <td>€ 40,00</td>
            <td>
              <ul>
                <li><a routerLink=""><img src="/assets/img/admin/icons/promote.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Promouvoir {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><a routerLink="" title="Modifier {{ceCette}} {{objet}}">Sweat à capuche à demi-fermeture éclair Starcraft</a></td>
            <td>StarCraft</td>
            <td>€ 40,00</td>
            <td>
              <ul>
                <li><a routerLink=""><img src="/assets/img/admin/icons/promote.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Promouvoir {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
                <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
              </ul>
            </td>
          </tr>
        </tbody>
  
      </table>


  </div>
</section>

<popin-delete></popin-delete>
