.admin--main--actions {
  text-align: center;
}

.admin--main--actions ul {
  font-size: 0;
}

.admin--main--actions ul li {
  padding: 20px;
  vertical-align: top;
  display: inline-block;
}

.admin--main--actions ul li a {
  display: block;
  background: rgba(0,0,0,.1);
  border-radius: 4rem;
  padding: 30px;
  border: 1px solid rgba(0,0,0,.15);
}

.admin--main--actions ul li a img {
  display: block;
  width: 36px;
  height: auto;
}

.admin--main--form {
  width: 100%;
  padding: 15px;
  max-width: 800px;
  margin: 50px auto;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,.5);
}

/*
.admin--main--form form {

}

.admin--main--form form fieldset {

}
*/

.admin--main--form form fieldset ul {
  font-size: 0;
}

.admin--main--form form fieldset ul li {
  padding: 15px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.admin--main--form form fieldset ul li:first-child,
.admin--main--form form fieldset ul li:last-child {
  width: 100%;
}

/*
.admin--main--form form fieldset ul li.admin--form--row {

}
*/

.admin--main--form form fieldset ul li.admin--form--row input[type="text"],
.admin--main--form form fieldset ul li.admin--form--row input[type="number"],
.admin--main--form form fieldset ul li.admin--form--row select {
  padding: 10px;
  width: 100%;
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #191416;
  border: 1px solid rgba(0,0,0,.5);
}

.admin--main--form form fieldset ul li.admin--form--row label {
  display: block;
  font-size: 16px;
  color: #191416;
  font-family: 'Roboto-Medium';
  padding-top: 15px;
}

.admin--main--form form fieldset ul li.admin--form--row textarea {
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #191416;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.5);
  width: 100%;
  height: 75px;
}


.admin--main--form form fieldset ul li.admin--form--snd {
  text-align: right;
}

.admin--main--form form fieldset ul li.admin--form--snd button {
  background: #007BBF;
  font-family: 'Roboto-Medium';
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 25px;
  border: none;
}




#products {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

/*
#products .wrapper {

}
*/

#products .wrapper table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

/*
#products .wrapper table thead {

}

#products .wrapper table thead tr {

}
*/

#products .wrapper table thead tr th {
  text-align: center;
  padding: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #191416;
  font-family: 'Roboto-Light';
  border-bottom: 1px solid #007BBF;
}

#products .wrapper table thead tr th:first-child {
  width: 70%;
  text-align: left;
}

/*
#products .wrapper table tbody {

}
*/

#products .wrapper table tbody tr td {
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: center;
}

#products .wrapper table tbody tr td:first-child {
  text-align: left;
}

#products .wrapper table tbody tr:nth-child(odd) td {
  background: #FFFFFF;
}

#products .wrapper table tbody tr td a {
  text-decoration: none;
  color: #007BBF;
}

#products .wrapper table tbody tr td ul {
  font-size: 0;
}

#products .wrapper table tbody tr td ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

#products .wrapper table tbody tr td ul li a {
  display: block;
}

#products .wrapper table tbody tr td ul li a img {
  display: block;
  width: 24px;
  height: auto;
}
