<app-header></app-header>

<div class="admin--main--actions">
  <ul>
    <li><a routerLink="/admin/manage-products"><img src="/assets/img/admin/icons/return.svg" alt="Retour aux {{objets}}" title="Retour aux {{objets}}"></a></li>
  </ul>
</div>

<div class="admin--main--form">
  <form (ngSubmit)="createProduit()">
    <fieldset>
      <ul>
        <input type="hidden" name="href" [(ngModel)]="produit.href">
        <li class="admin--form--row"><input type="text" name="nom" id="nom" placeholder="Nom du produit" [(ngModel)]="produit.nom"></li>
        <li class="admin--form--row"><input type="number" name="prix" id="prix" step="0.01" placeholder="Prix" [(ngModel)]="produit.prix"></li>
        <li class="admin--form--row">
          <select name="categorie" id="categorie"  [(ngModel)]="produit.categorieProduit">
            <option *ngFor="let categorie of categories" [value]="categorie">{{categorie.nom}}</option>
          </select>
        </li>
        <li class="admin--form--row"><label for="enStock"><input type="checkbox" name="enStock" id="enStock" value="1" [(ngModel)]="produit.surCommande"> Sur commande?</label></li>
        <li class="admin--form--row"><textarea name="image" id="image" placeholder="Image (BASE64)" [(ngModel)]="produit.image" ></textarea></li>
        <li class="admin--form--row"><textarea name="description" id="description" placeholder="Description" [(ngModel)]="produit.description" ></textarea></li>
        <li class="admin--form--snd"><button type="submit">Ajouter / modifier</button></li>
      </ul>
    </fieldset>
  </form>
</div>
