<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Modification de votre compte</span>
  </div>
</div>

<section id="editprofile">

    <div class="wrapper">
  
      <div class="profile--form">
        <h2>
          Formulaire de modification de compte
        </h2>
        <ul>
          <li class="profile--form--row">
            <input type="text" name="nom" id="nom" placeholder="Votre nom*" required="required">
            <span class="profile--form--error">Champs obligatoire.</span>
          </li>
          <li class="profile--form--row">
            <input type="text" name="prenom" id="prenom" placeholder="Votre prénom*" required="required">
            <span class="profile--form--error">Champs obligatoire.</span>
          </li>
          <li class="profile--form--row profile--form--full">
            <input type="text" name="numTelephone" id="numTelephone" placeholder="Votre numéro de téléphone*" required="required">
            <span class="profile--form--error">Champs obligatoire.</span>
          </li>
          <li class="profile--form--row profile--form--full">
            <input type="text" name="numRue" id="numRue" placeholder="Adresse : num.*" required="required">
            <input type="text" name="rue" id="rue" placeholder="Adresse : rue*" required="required">
            <span class="profile--form--error">Champ obligatoire.</span>
          </li>
          <li class="profile--form--row">
            <input type="text" name="codePostal" id="codePostal" placeholder="Adresse : Code postal*" required="required">
            <span class="profile--form--error">Champ obligatoire.</span>
          </li>
          <li class="profile--form--row">
            <input type="text" name="ville" id="ville" placeholder="Adresse : Ville*" required="required">
            <span class="profile--form--error">Champ obligatoire.</span>
          </li>
          <li class="profile--form--row profile--form--full">
            <select name="pays" id="pays" required="required">
              <option value="">Votre pays* : </option>
              <optgroup label="Cocorico !">
                <option value="France">France</option>option>
              </optgroup>
              <optgroup label="Communauté Européenne">
                <option value="Allemagne">Allemagne</option>
                <option value="Autriche">Autriche</option>
                <option value="Belgique">Belgique</option>
                <option value="Bulgarie">Bulgarie</option>
                <option value="Chypre">Chypre</option>
                <option value="Croatie">Croatie</option>
                <option value="Danemark">Danemark</option>
                <option value="Espagne">Espagne</option>
                <option value="Estonie">Estonie</option>
                <option value="Finlande">Finlande</option>
                <option value="Grèce">Grèce</option>
                <option value="Hongrie">Hongrie</option>
                <option value="Irlande">Irlande</option>
                <option value="Italie">Italie</option>
                <option value="Lettonie">Lettonie</option>
                <option value="Lituanie">Lituanie</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Malte">Malte</option>
                <option value="Pays-Bas">Pays-Bas</option>
                <option value="Pologne">Pologne</option>
                <option value="Portugal">Portugal</option>
                <option value="République Tchèque">République Tchèque</option>
                <option value="Roumanie">Roumanie</option>
                <option value="Royaume-Uni">Royaume-Uni</option>
                <option value="Slovaquie">Slovaquie</option>
                <option value="Slovénie">Slovénie</option>
                <option value="Suède">Suède</option>
              </optgroup>
            </select>
            <span class="profile--form--error">Champ obligatoire.</span>
          </li>
          <li class="profile--form--snd"><button type="submit">valider les modifications</button></li>
          <li class="profile--form--nfo"><span class="profile--form--req">*Champs obligatoires</span></li>
        </ul>
      </div>
  
    </div>
  
  </section>