#editprofile {
width: 100%;
max-width: 800px;
margin: 75px auto;
box-shadow: 0 0 25px 10px rgba(0,0,0,.1);
background: #FFFFFF;
}

#editprofile .wrapper .profile--form {
padding: 25px;
}

#editprofile .wrapper .profile--form h2 {
text-align: center;
font-size: 36px;
font-weight: normal;
font-family: 'Roboto-Thin';
margin-top: 0;
}

#editprofile .wrapper .profile--form h2 .profile--form--soustitre {
display: block;
font-size: 20px;
font-weight: normal;
font-family: 'Roboto-Medium';
}

#editprofile .wrapper .profile--form ul {
font-size: 0;
}

#editprofile .wrapper .profile--form ul li {
display: inline-block;
font-size: 16px;
padding: 0 15px 15px 15px;
vertical-align: top;
}

#editprofile .wrapper .profile--form ul li.profile--form--row {
width: 50%;
}

#editprofile .wrapper .profile--form ul li.profile--form--full {
width: 100%;
}

#editprofile .wrapper .profile--form ul li.profile--form--row input {
width: 100%;
height: 32px;
padding: 5px;
font-family: 'Roboto-Medium';
font-size: 18px;
text-align: left;
border: none;
border-bottom: 2px solid #CCCCCC;
}

#editprofile .wrapper .profile--form ul li.profile--form--row input#numTelephone {
width: 47.5%;
}

#editprofile .wrapper .profile--form ul li.profile--form--row span.profile--form--error {
display: block;
display: none;
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #CC0000;
padding: 5px 0 15px 0;
}

#editprofile .wrapper .profile--form ul li.profile--form--row input#numRue {
width: 25%;
margin-right: 15px;
}

#editprofile .wrapper .profile--form ul li.profile--form--row input#rue {
width: 72.5%;
}

#editprofile .wrapper .profile--form ul li.profile--form--row select {
width: 100%;
height: 32px;
padding: 5px;
font-family: 'Roboto-Medium';
font-size: 18px;
text-align: left;
border: none;
border-bottom: 2px solid #CCCCCC;
}

#editprofile .wrapper .profile--form ul li.profile--form--row span.profile--form-note {
display: block;
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #999999;
padding: 5px 0 0 0;
}

#editprofile .wrapper .profile--form ul li.profile--form--snd {
width: 100%;
text-align: center;
}

#editprofile .wrapper .profile--form ul li.profile--form--snd button {
display: inline-block;
font-family: 'Roboto-Medium';
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
padding: 8px 15px;
white-space: nowrap;
background: #007BBF;
border: none;
margin: 0 auto;
}

#editprofile .wrapper .profile--form ul li.profile--form--nfo {
width: 100%;
text-align: right;
}

#editprofile .wrapper .profile--form ul li.profile--form--nfo span.profile--form--req {
display: block;
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #999999;
padding: 5px 0 0 0;
}
