#thanks {
width: 100%;
max-width: 1000px;
margin: 0 auto;
text-align: center;
}

#thanks .wrapper {
padding: 50px 0;
}

#thanks .wrapper h1 {
font-family: 'Roboto-Black';
color: #007BBF;
font-size: 48px;
text-transform: uppercase;
margin: 0;
}

#thanks .wrapper h2 {
font-family: 'Roboto-Bold';
font-size: 24px;
color: #191416;
margin: 0;
text-transform: uppercase;
}

#thanks .wrapper p {
width: 50%;
margin: 0 auto;
padding: 30px 0px;
font-size: 16px;
color: #191416;
line-height: 24px;
font-family: 'Roboto-Light';
}

#thanks .wrapper p a {
text-decoration: none;
background: #007BBF;
color: #FFFFFF;
font-family: 'Roboto-Bold';
padding: 8px 25px;
text-transform: uppercase;
}
