<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Merci !</span>
  </div>
</div>

<section id="thanks">
  <div class="wrapper">
    <h1>Merci</h1>
    <h2>pour votre argent</h2>
    <p>
      Nous avons bien pris en compte votre commande et celle-ci sera traitée dans les plus brefs délais par notre service commercial.<br><br>
      <a routerLink="/catalogue">passer une nouvelle commande</a>
    </p>
  </div>
</section>