<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Admin › Gestion des {{objets}}</span>
  </div>
</div>

<admin-nav></admin-nav>

<section id="users">
  <div class="wrapper">

      <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>nb. Commandes</th>
              <th>Recette</th>
              <th>Actions</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">Jordan Abid</a>
                <span>jordan-abid@ajc-formation.fr</span>
              </td>
              <td>2</td>
              <td><span class="recette">€ 1,00</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">Jean Dupond</a>
                <span>jean-dupond@ajc-formation.fr</span>
              </td>
              <td>2</td>
              <td><span class="recette">€ 12,00</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">Nathalie Kosciusko-Morizet</a>
                <span>nathalie-kosciusko-morizet@ajc-formation.fr</span>
              </td>
              <td>2</td>
              <td><span class="recette">€ 850,00</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">Friedrich Nietzsche</a>
                <span>friedrich-nietzsche@ajc-formation.fr</span>
              </td>
              <td>2</td>
              <td><span class="recette">€ 90,50</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">Joseph Staline</a>
                <span>joseph-staline@ajc-formation.fr</span>
              </td>
              <td>2</td>
              <td><span class="recette">€ 400,00</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">Bernard Montiel</a>
                <span>bernard-montiel@ajc-formation.fr</span>
              </td>
              <td>2</td>
              <td><span class="recette">€ 140,00</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <a routerLink="" title="Modifier {{ceCette}} {{objet}}">André Rieu</a>
                <span>andre-rieu@ajc-formation.fr</span>
              </td>
              <td>23</td>
              <td><span class="recette">€ 1350,00</span></td>
              <td>
                <ul>
                  <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
    
        </table>

  </div>
</section>

<popin-delete></popin-delete>