<div id="popinAdded">
  <div class="popin--added--overlay"></div>
  <div class="wrapper">
    <div class="popin--added--content">

      <div class="popin--added--product">
        <div class="visuel"><img src="/assets/img/temp/products/sc-pullover-front-tile.png" alt="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT" title="SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT"></div>
        <div class="success">
          Votre produit
          <span class="product">SWEAT À CAPUCHE À DEMI-FERMETURE ÉCLAIR STARCRAFT</span>
          a été ajouté à votre panier
        </div>
      </div>

      <ul class="popin--added--actions">
        <li><a href="" class="continue">Continuer mes achats</a></li>
        <li><a href="" class="gotocart">Accéder à mon panier</a></li>
      </ul>
    </div>
    <a href="#" class="popin--close"><img src="/assets/img/template/close.svg" alt="Fermer" title="Fermer"></a>
  </div>
</div>