<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Connexion</span>
  </div>
</div>

<section id="login">

  <div class="wrapper">
    <div class="signup--side">
      <div class="signup--overlay"></div>
      <div class="signup--content">
        <p>
          <span class="signup--titre">Nouveau sur notre site ?</span>
          Vous devez créer un compte pour initier une commande et profiter de tous nos produits à des prix fous !
        </p>
        <a routerLink="/signup">Créez cotre compte</a>
      </div>
    </div>
    <div class="login--side">
      <form name="form" (ngSubmit)="login()">
        <fieldset>
          <ul>
            <li class="login--titre"><span>Connectez-vous</span></li>
            <li class="login--error"><span>Echec de connexion</span></li>
              <li><input type="text" name="email" id="email" placeholder="Identifiant" [(ngModel)]="user.email"></li>
              <li><input type="password" name="motDePasse" id="motDePasse" placeholder="Mot de passe" [(ngModel)]="user.motDePasse"></li>
            <li><button type="submit">Connexion</button></li>
            <li><a routerLink="/retrieve-password">Mot de passe oublié ?</a></li>
          </ul>
        </fieldset>
      </form>
    </div>
  </div>

</section>
