#login {
width: 100%;
max-width: 800px;
height: 400px;
margin: 75px auto;
box-shadow: 0 0 25px 10px rgba(0,0,0,.1);
background: #FFFFFF;
}

#login .wrapper {
font-size: 0;
}

#login .wrapper .signup--side {
position: relative;
display: inline-block;
width: 50%;
height: 400px;
vertical-align: top;
background-image: url(/assets/img/login/signup.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#login .wrapper .signup--side .signup--overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,.5);
}

#login .wrapper .signup--side .signup--content {
position: absolute;
top: 50%;
left: 50%;
text-align: center;
transform: translateX(-50%) translateY(-50%);
}

#login .wrapper .signup--side .signup--content p {
font-family: 'Roboto-Light';
font-size: 16px;
color: #FFFFFF;
text-align: center;
}

#login .wrapper .signup--side .signup--content p span.signup--titre {
display: block;
font-size: 20px;
font-family: 'Roboto-Medium';
margin-bottom: 10px;
white-space: nowrap;
text-transform: uppercase;
letter-spacing: 1px;
}

#login .wrapper .signup--side .signup--content a {
display: inline-block;
font-family: 'Roboto-Medium';
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
padding: 8px 15px;
white-space: nowrap;
background: #007BBF;
margin: 15px 0;
}


#login .wrapper .login--side {
position: relative;
display: inline-block;
width: 50%;
height: 400px;
vertical-align: top;
}

#login .wrapper .login--side form fieldset ul {
position: absolute;
top: 50%;
left: 50%;
width: 75%;
transform: translateX(-50%) translateY(-50%);
}

#login .wrapper .login--side form fieldset ul li {
padding: 10px 0 20px 0;
text-align: center;
}

#login .wrapper .login--side form fieldset ul li span {
display: block;
white-space: nowrap;
}

#login .wrapper .login--side form fieldset ul li.login--titre span {
font-size: 20px;
letter-spacing: 1px;
font-family: 'Roboto-Medium';
text-transform: uppercase;
color: #191416;
}

#login .wrapper .login--side form fieldset ul li.login--error {
display: none;
padding: 0;
}

#login .wrapper .login--side form fieldset ul li.login--error span {
font-size: 12px;
font-family: 'Roboto-LightItalic';
color: #CC0000;
}


#login .wrapper .login--side form fieldset ul li input {
width: 100%;
height: 32px;
padding: 5px;
font-family: 'Roboto-Medium';
font-size: 18px;
text-align: center;
border: none;
border-bottom: 2px solid #CCCCCC;
}

#login .wrapper .login--side form fieldset ul li button {
display: inline-block;
font-family: 'Roboto-Medium';
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
padding: 8px 15px;
white-space: nowrap;
background: #007BBF;
border: none;
margin: 0 auto;
}

#login .wrapper .login--side form fieldset ul li a {
font-family: 'Roboto-LightItalic';
font-size: 12px;
color: #999999;
text-decoration: none;
transition: all 400ms ease-in-out;
}

#login .wrapper .login--side form fieldset ul li a:hover {
color: #007BBF;
}
