#legales {
width: 100%;
max-width: 600px;
margin: 0 auto;
}

#legales p {
margin-bottom: 35px;
font-size: 12px;
}

#legales p span.legales--titre {
display: block;
font-family: 'Roboto-Medium';
font-size: 14px;
margin-bottom: 5px;
}

#legales p strong {
font-family: 'Roboto-Medium';
}
