<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Admin › Gestion des {{objets}}</span>
  </div>
</div>

<admin-nav></admin-nav>

<section id="orders">
  <div class="wrapper">

    <div class="admin--main--actions">
      <ul>
        <li><a routerLink="/admin-goodies/manage-orders"><img src="/assets/img/admin/icons/return.svg" alt="Retour aux {{objets}}" title="Retour aux {{objets}}"></a></li>
      </ul>
    </div>


    <div class="order--details">

      <div class="order--details--user">
        <p>
          Commande passée le lundi 26 février 2019 à 09 h 52<br>
          Par Jordan Abid<br>
          Montant : <span class="recette">€ 1,00</span><br>
          Numéro de commande : CMD-GE-00001
        </p>
      </div>
      <div class="order--details--addy">
        <p>
          Adresse de livraison : <br>
          6, Rue Rougemont<br>
          75009 Paris<br>
          France
        </p>
      </div>
      <div class="order--details--list">

        <table>
          <thead>
            <tr>
              <th>Produit</th>
              <th>Prix unitaire</th>
              <th>Quantié</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sweat à capuche à demi-fermeture éclair Starcraft</td>
              <td>€ 0,50</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="order--details--actions">

        <ul>
          <li><a href="" class="cancel--order">Refuser {{ceCette}} {{objet}}</a></li>
          <li><a href="" class="valid--order">Valider {{ceCette}} {{objet}}</a></li>
        </ul>

      </div>

    </div>






    <table>
      <thead>
        <tr>
          <th>Date {{deLeDu}}{{objet}}</th>
          <th>Client</th>
          <th>Montant</th>
          <th>nb. Produits</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><a routerLink="" title="Détails de {{ceCette}} {{objet}}">Lundi 26 février 2019 à 09 h 52</a></td>
          <td>Jordan Abid</td>
          <td><span class="recette">€ 1,00</span></td>
          <td>2</td>
          <td>
            <ul>
                <li><a><img src="/assets/img/admin/icons/order-await.svg" alt="{{objet}} en cours" title="{{objet}} en cours"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Détails de {{ceCette}} {{objet}}">Lundi 26 février 2019 à 09 h 52</a></td>
          <td>Jordan Abid</td>
          <td><span class="recette">€ 1,00</span></td>
          <td>2</td>
          <td>
            <ul>
                <li><a><img src="/assets/img/admin/icons/order-await.svg" alt="{{objet}} en cours" title="{{objet}} en cours"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Détails de {{ceCette}} {{objet}}">Lundi 26 février 2019 à 09 h 52</a></td>
          <td>Jordan Abid</td>
          <td><span class="recette">€ 1,00</span></td>
          <td>2</td>
          <td>
            <ul>
                <li><a><img src="/assets/img/admin/icons/order-await.svg" alt="{{objet}} en cours" title="{{objet}} en cours"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Détails de {{ceCette}} {{objet}}">Lundi 26 février 2019 à 09 h 52</a></td>
          <td>Jordan Abid</td>
          <td><span class="recette">€ 1,00</span></td>
          <td>2</td>
          <td>
            <ul>
                <li><a><img src="/assets/img/admin/icons/order-cancel.svg" alt="{{objet}} refusée" title="{{objet}} refusée"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Détails de {{ceCette}} {{objet}}">Lundi 26 février 2019 à 09 h 52</a></td>
          <td>Jordan Abid</td>
          <td><span class="recette">€ 1,00</span></td>
          <td>2</td>
          <td>
            <ul>
                <li><a><img src="/assets/img/admin/icons/order-valid.svg" alt="{{objet}} validée" title="{{objet}} validée"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a routerLink="" title="Détails de {{ceCette}} {{objet}}">Lundi 26 février 2019 à 09 h 52</a></td>
          <td>Jordan Abid</td>
          <td><span class="recette">€ 1,00</span></td>
          <td>2</td>
          <td>
            <ul>
                <li><a><img src="/assets/img/admin/icons/order-valid.svg" alt="{{objet | titlecase}} validée" title="{{objet}} validée"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/enlist.svg" alt="Détails de {{ceCette}} {{objet}}" title="Détails de {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</section>

<popin-cancel></popin-cancel>