<nav>
  <ul>
    <li><a routerLink="/admin/manage-categories">Catégories</a></li>
    <li><a routerLink="/admin/manage-products">Produits</a></li>
    <li><a routerLink="/admin/manage-orders">Commandes</a></li>
    <li><a routerLink="/admin/manage-users">Utilisateurs</a></li>
  </ul>
</nav>
