nav {
width: 100%;
max-width: 1000px;
margin: 20px auto;
}

nav ul {
font-size: 0;
}

nav ul li {
display: inline-block;
width: 25%;
vertical-align: top;
}

nav ul li a {
display: block;
padding: 10px 25px;
text-transform: uppercase;
color: #FFFFFF;
font-size: 18px;
transition: all 400ms ease-in-out;
font-family: 'Roboto-Medium';
text-decoration: none;
text-align: center;
background: #007BBF;
}

nav ul li a:hover {
background: #4DB4D7;
}
