<app-header></app-header>

<div class="admin--main--actions">
  <ul>
    <li><a routerLink="/admin/add-product"><img src="/assets/img/admin/icons/create.svg" alt="Ajouter {{unUne}} {{objet}}" title="Ajouter {{unUne}} {{objet}}"></a></li>
  </ul>
</div>

<section id="categories">
  <div class="wrapper">

    <div class="listeAffichage">
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let categorie"> {{categorie.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="nb_produits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de produits </th>
          <td mat-cell *matCellDef="let categorie"> {{categorie.nb_produits}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let row" >
            <ul>
              <li><a routerLink=""><img src="/assets/img/admin/icons/promote.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Promouvoir {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
              <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
            </ul>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</section>

<popin-delete></popin-delete>
