<app-header></app-header>

<div class="admin--main--actions">
  <ul>
    <li><a routerLink="/admin/add-product"><img src="/assets/img/admin/icons/create.svg" alt="Ajouter {{unUne}} {{objet}}" title="Ajouter {{unUne}} {{objet}}"></a></li>
  </ul>
</div>

<section id="products">
  <div class="wrapper">

  <div class="listeAffichage">
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let produit"> {{produit.id}} </td>
    </ng-container>

    <!-- nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let produit"> {{produit.nom}} </td>
    </ng-container>

    <!-- prix Column -->
    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
      <td mat-cell *matCellDef="let produit"> {{produit.prix}}€ </td>
    </ng-container>

    <!-- nb_vente Column -->
    <ng-container matColumnDef="nb_vente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nb_vente </th>
      <td mat-cell *matCellDef="let produit"> {{produit.nbvente}} </td>
    </ng-container>

    <!-- promo Column -->
    <ng-container matColumnDef="promo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Promo </th>
      <td mat-cell *matCellDef="let produit"> {{produit.promo}} </td>
    </ng-container>

    <!-- quantite_stock -->
    <ng-container matColumnDef="quantite_stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité stock </th>
      <td mat-cell *matCellDef="let produit"> {{produit.quantiteStock}} </td>
    </ng-container>

    <!-- sur_commande Column -->
    <ng-container matColumnDef="sur_commande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sur commande </th>
      <td mat-cell *matCellDef="let produit"> {{produit.surCommande}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let row" >
        <ul>
          <li><a routerLink=""><img src="/assets/img/admin/icons/promote.svg" alt="Afficher le catalogue de {{ceCette}} {{objet}}" title="Promouvoir {{ceCette}} {{objet}}"></a></li>
          <li><a routerLink=""><img src="/assets/img/admin/icons/edit.svg" alt="Modifier {{ceCette}} {{objet}}" title="Modifier {{ceCette}} {{objet}}"></a></li>
          <li><a routerLink=""><img src="/assets/img/admin/icons/delete.svg" alt="Supprimer {{ceCette}} {{objet}}" title="Supprimer {{ceCette}} {{objet}}"></a></li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row.id)" ></tr>
  </table>

</div>

  </div>
</section>

<popin-delete></popin-delete>

