#product {
width: 100%;
max-width: 1000px;
margin: 0 auto;
}

#product .wrapper {
height: 500px;
margin: 50px auto;
font-size: 0;
}

#product .wrapper .product--visuel {
display: inline-block;
width: 50%;
vertical-align: top;
}

#product .wrapper .product--visuel figure {
width: 100%;
height: 500px;
margin: 0;
background: rgb(77,180,215);
background: -moz-linear-gradient(left, rgba(77,180,215,1) 0%, rgba(0,123,191,1) 100%);
background: -webkit-linear-gradient(left, rgba(77,180,215,1) 0%,rgba(0,123,191,1) 100%);
background: linear-gradient(to right, rgba(77,180,215,1) 0%,rgba(0,123,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db4d7', endColorstr='#007bbf',GradientType=1 );
}

#product .wrapper .product--visuel figure img {
display: block;
width: 100%;
height: auto;
}

#product .wrapper .product--infos {
display: inline-block;
width: 50%;
vertical-align: top;
padding: 0 20px 0 100px;
}

#product .wrapper .product--infos h1 {
font-size: 24px;
font-family: 'Roboto-BlackItalic';
font-weight: normal;
color: #191416;
text-transform: uppercase;
margin-bottom: 0;
}

#product .wrapper .product--infos span.product--price {
font-size: 24px;
font-family: 'Roboto-Black';
font-weight: normal;
color: #007BBF;
}

#product .wrapper .product--infos ul.product--details {
margin-top: 10px;
}

#product .wrapper .product--infos ul.product--details li {
font-family: 'Roboto-Light';
font-size: 16px;
padding: 10px 0;
}

#product .wrapper .product--infos ul.product--details li span {
display: inline-block;
width: 100px;
}

#product .wrapper .product--infos ul.product--details li a {
font-size: 16px;
text-decoration: none;
color: #007BBF;
}

#product .wrapper .product--infos p {
font-family: 'Roboto-Light';
font-size: 14px;
line-height: 24px;
margin-top: 15px;
padding: 15px 0 30px 0;
border-top: 1px solid #CCCCCC;
}

/*
#product .wrapper .product--infos .product--addtocart {

}

#product .wrapper .product--infos .product--addtocart form {

}

#product .wrapper .product--infos .product--addtocart form fieldset {

}

#product .wrapper .product--infos .product--addtocart form fieldset ul.product--quantite {

}

#product .wrapper .product--infos .product--addtocart form fieldset ul.product--quantite li {

}
*/

#product .wrapper .product--infos .product--addtocart form fieldset ul.product--quantite li label {
display: inline;
font-size: 16px;
font-family: 'Roboto-Medium';
color: #191416;
padding: 0 10px 0 0;
}

#product .wrapper .product--infos .product--addtocart form fieldset ul.product--quantite li input {
display: inline-block;
width: 100px;
height: 30px;
padding: 5px 10px;
font-family: 'Roboto-Bold';
color: #191416;
font-size: 16px;
border: 1px solid rgba(0,0,0,.1);
background: none;
}

#product .wrapper .product--infos .product--addtocart form fieldset ul.product--quantite li button {
margin-top: 15px;
padding: 8px 20px;
font-size: 16px;
text-transform: uppercase;
font-family: 'Roboto-Bold';
font-weight: normal;
color: #FFFFFF;
border: none;
background: #007BBF;
}

#product .wrapper .product--infos .product--addtocart form fieldset ul.product--quantite li button:hover {
cursor: pointer;
background: #4DB4D7;
}








.reviews--5stars { width: 100%; }
.reviews--4stars { width: 80%; }
.reviews--3stars { width: 60%; }
.reviews--2stars { width: 40%; }
.reviews--1stars { width: 20%; }

#reviews {
width: 100%;
max-width: 1000px;
margin: 0 auto;
border-top: 1px solid rgba(0,0,0,.15);
}

#reviews .wrapper {
font-size: 0;
}

#reviews .wrapper .reviews--overall {
display: inline-block;
width: 50%;
vertical-align: top;
font-size: 0;
padding: 20px;
}

#reviews .wrapper .reviews--overall .reviews--average {
display: inline-block;
width: 50%;
height: 100%;
padding: 0 20px 20px 20px;
vertical-align: top;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--wrapaverage {
display: block;
text-align: center;
background: #007BBF;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--globrating {
display: block;
font-size: 20px;
font-family: 'Roboto-Medium';
color: #FFFFFF;
padding-top: 25px;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--avgrate {
display: block;
font-family: 'Roboto-Black';
font-size: 48px;
color: #FFFFFF;
padding: 10px 0;
}

#reviews .wrapper .reviews--overall .reviews--average .reviews--basedon {
display: block;
font-family: 'Roboto-Light';
font-size: 16px;
color: #FFFFFF;
padding-bottom: 25px;
}

#reviews .wrapper .reviews--overall .reviews--fullratings {
display: inline-block;
width: 50%;
vertical-align: top;
}

#reviews .wrapper .reviews--overall .reviews--fullratings .reviews--basedon {
display: block;
font-family: 'Roboto-Medium';
font-size: 16px;
margin-bottom: 15px;
}

/*
#reviews .wrapper .reviews--overall .reviews--fullratings ul {

}
*/

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars {
position: relative;
padding: 2px 0;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars {
position: relative;
display: inline-block;
width: 100px;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars span.reviews-yellowbar {
display: inline-block;
height: 20px;
background: #FBD600;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars ul.reviews--howmanystars {
position: absolute;
top: 0;
left: 0;
font-size: 0;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars ul.reviews--howmanystars li {
display: inline-block;
width: 20px;
vertical-align: top;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars .reviews--stars ul.reviews--howmanystars li img {
display: inline-block;
width: 20px;
height: 20px;
}

#reviews .wrapper .reviews--overall .reviews--fullratings ul li.reviews--basedstars span.reviews--howmany {
position: absolute;
top: 7px;
left: 120px;
display: inline-block;
font-family: 'Roboto-Light';
font-size: 12px;
color: #191416;
}

#reviews .wrapper .reviews--comments {
display: inline-block;
width: 50%;
vertical-align: top;
padding: 0 0 50px 25px;
}

#reviews .wrapper .reviews--comments article {
width: 100%;
padding: 10px 20px;
margin: 10px 0;
border-bottom: 1px solid rgba(0,0,0,.15);
}

#reviews .wrapper .reviews--comments article figure {
font-size: 0;
}

#reviews .wrapper .reviews--comments article figure img.reviews--avatar {
display: inline-block;
width: 15%;
min-width: 60px;
max-width: 60px;
height: auto;
vertical-align: top;
}

#reviews .wrapper .reviews--comments article figure figcaption {
display: inline-block;
width: 85%;
vertical-align: top;
padding-top: 15px;
padding-left: 15px;
}

#reviews .wrapper .reviews--comments article figure figcaption span.reviews--username {
font-size: 16px;
font-family: 'Roboto-Medium';
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating {
position: relative;
width: 100px;
margin: 0;
padding: 0;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating .reviews--yellow {
height: 20px;
background: #FBD600;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating ul {
position: absolute;
top: 0;
left: 0;
font-size: 0;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating ul li {
display: inline-block;
width: 20px;
vertical-align: top;
}

#reviews .wrapper .reviews--comments article figure figcaption .reviews--rating ul li img {
display: block;
width: 20px;
height: 20px;
}


#reviews .wrapper .reviews--comments article p {
font-family: 'Roboto-Light';
font-size: 14px;
line-height: 24px;
color: #191416;
}
