<div id="breadcrumb">
  <div class="wrapper">
    <span class="breadcrumb--title">Catalogue › Produit</span>
  </div>
</div>

<section id="product">
  <div class="wrapper">

    <div class="product--visuel">
      <figure>
        <img src="/assets/img/products/{{produit.image}}" alt="{{produit.nom}}" title="{{produit.nom}}">
      </figure>
    </div>

    <div class="product--infos">
      <h1>{{produit.nom}}</h1>
      <span class="product--price">€ {{(produit.prix/100).toFixed(2).replace('.', ',')}}</span>
      
      <ul class="product--details">
        <li><span>Catégorie</span> : <a routerLink="/catalogue/{{produit.categorie.slug}}/{{produit.categorie.id}}">{{produit.categorie.nom}}</a></li>
        <li *ngIf="!produit.surCommande"><span>Disponibilité</span> : En stock</li>
        <li *ngIf="produit.surCommande"><span>Disponibilité</span> : Sur commande</li>
      </ul>
      
      <p>
        {{produit.description}}
      </p>

      <div class="product--addtocart">
        <form>
          <fieldset>
            <ul class="product--quantite">
              <li>
                <label for="quantite">Quantité : </label>
                <input type="number" [(ngModel)]="quantite" name="quantite" id="quantite" min="1" value="1">
              </li>
              <!--<li><button type="submit" (click)="addCart($event, quantite, produit.id)">Ajouter au panier</button></li>-->
              <li><button type="submit" (click)="addCart($event)">Ajouter au panier</button></li>
            </ul>
          </fieldset>
        </form>
      </div>

    </div>
    
    
    
  </div>
</section>

<section id="reviews">
  <div class="wrapper">

    <div class="reviews--overall">

        <div class="reviews--average">
          <div class="reviews--wrapaverage">
            <span class="reviews--globrating">Note moyenne</span>
            <span class="reviews--avgrate">{{produit.average.toFixed(2)}}</span>
            <span class="reviews--basedon">({{produit.avis.length}} avis)</span>
          </div>
        </div>

        <div class="reviews--fullratings">
          <span class="reviews--basedon">Basé sur {{produit.avis.length}} avis</span>
          <ul>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                5 étoiles : 
                <span class="reviews-yellowbar reviews--5stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="5 étoiles" title="5 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">{{produit.nb5Stars}}</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--4stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="4 étoiles" title="4 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">{{produit.nb4Stars}}</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--3stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="3 étoiles" title="3 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">{{produit.nb3Stars}}</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--2stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="2 étoiles" title="2 étoiles"></li>
                </ul>
              </div>
              <span class="reviews--howmany">{{produit.nb2Stars}}</span>
            </li>
            <li class="reviews--basedstars">
              <div class="reviews--stars">
                <span class="reviews-yellowbar reviews--1stars"></span>
                <ul class="reviews--howmanystars">
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                  <li><img src="/assets/img/template/star-mask.svg" alt="1 étoile" title="1 étoile"></li>
                </ul>
              </div>
              <span class="reviews--howmany">{{produit.nb1Stars}}</span>
            </li>
          </ul>
        </div>

    </div>

    <div class="reviews--comments">

      <article *ngFor="let avis of produit.avis">
        <figure>
          <img src="/assets/img/avatars/avatar-01.svg" alt="{{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" title="{{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" class="reviews--avatar">
          <figcaption>
            <span class="reviews--username">{{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}</span>
            <div class="reviews--rating">
              <div class="reviews--yellow reviews--{{avis.note}}stars"></div>
              <ul>
                <li><img src="/assets/img/template/star-mask.svg" alt="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" title="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" title="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" title="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" title="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}"></li>
                <li><img src="/assets/img/template/star-mask.svg" alt="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}" title="{{avis.note}} étoiles par {{avis.utilisateur.prenom}} {{avis.utilisateur.nom}}"></li>
              </ul>
            </div>
          </figcaption>
        </figure>
        <p>{{avis.commentaire}}</p>
      </article>

    </div>
    
  </div>
</section>

<popin-added></popin-added>